<style>
  .modal { overflow: visible; }
.modal-body { overflow-y: visible !important; }
</style>

<% account.forEach(element => { %>
  
  <% const categoriesExpense = ["Food","Fuel","Automobile","Donations","Debit","Clothing","Personal Care","Groceries","Entertainment","Study","Travel/Vacation","Phone","House Hold","Health Care", "Gift"]
  const categoriesIncome = ["Savings","Salary","Interest","Gift","Business Payment","Credit"]
  const monthCart = ["January","February","March","April","May","June","July","August","September","October","November","December"]
  %>
  
  <%
  const formatter = new Intl.NumberFormat('en-US', {
style: 'currency',
currency: element.currency,
minimumFractionDigits: 2
})%>
<div class="fixed-action-btn">
  <%      
            link = '/'+year+'/'+parseFloat(month+1)
            if(month == (new Date().getMonth()) && year == (new Date().getUTCFullYear())){
              link = ''
            }
      %>
  <a class="btn-floating btn-large light-blue darken-4">
    <i class="large material-icons">tune</i>
  </a>
  <ul>
   
    <li><a title="Change Period" data-toggle="modal" href="#chperiod" class="btn-floating red modal-trigger"><i class="material-icons">today</i></a></li>
    <li><a title="Analytics" data-toggle="modal" href="/account/<%=element._id%>/chart<%=link%>" class="btn-floating purple darken-1 modal-trigger"><i class="material-icons">insights</i></a></li>
    <li><a title="Update Balance" data-toggle="modal" href="#ubalance" class="btn-floating green modal-trigger"><i class="material-icons">published_with_changes</i></a></li>
    <li><a title="Create Transactions" data-toggle="modal" href="#ctransaction" class="btn-floating blue modal-trigger"><i class="material-icons">account_balance_wallet</i></a></li>
    <li><a title="Asset Management" data-toggle="modal" href="/account/<%=element._id%>/assets" class="btn-floating orange modal-trigger"><i class="material-icons">account_balance</i></a></li>
  </ul>
</div>
<!--<div id = "options" class="modal white">
  <h5 class="header center light-blue-text text-darken-4" style="font-family:Roboto;">Select an Option</h5>
  <hr width="85%">
  <a class="modal-close waves-effect waves-grey btn-flat right" style="top: -45px;"><i class="material-icons">close</i></a>
  <div class="container">
    <div class="row center">
      <%      
            link = '/'+year+'/'+parseFloat(month+1)
            if(month == (new Date().getMonth()) && year == (new Date().getUTCFullYear())){
              link = ''
            }
      %>
      <div class="col s5"><a data-toggle="modal" class="modal-trigger btn blue" href="#chperiod">Change Period</a></div>
      <div class="col s2"><a data-toggle="modal" class="modal-trigger btn red" href="/account/<%=element._id%>/chart<%=link%>">Charts</a></div>
      <div class="col s5"><a data-toggle="modal" class="modal-trigger btn blue" href="#ubalance">Update Balance</a></div>
    </div>
    <div class="row center">
      <div class="col s12"><a data-toggle="modal" class="modal-trigger btn green" href="#ctransaction">Create Transaction</a></div>
    </div>
    
    
  </div>
</div>-->
<div id = "chperiod" class="modal white">
  <h5 class="header center light-blue-text text-darken-4" style="font-family:Roboto;">Change Period</h5>
  <a class="modal-close waves-effect waves-grey btn-flat right" style="top: -45px;"><i class="material-icons">close</i></a>
  <div class="row">
    <form action="/account?_method=PUT" method="POST">
      <div class="input-field">
        <input name = "id" type="hidden" class="validate" required="" aria-required="true" value = "<%=element._id %>">
      </div>
      <div class="input-field col s5 offset-s1 center">
        <select name = "month" class="browser-default" style="margin-top:7px;">
        <%for(i = 0;i < 12;i++){%>
        <option value="<%=i+1%>" <%=month == i?'selected':''%>><%=monthCart[i]%> </option>
      <%}%>
      </select>
      </div>
      <%
      yearCart = []
    count = new Date().getUTCFullYear() - 2021
    for(i = 0;i<=count;i++){
      yearCart.push(new Date().getUTCFullYear()-i)
    }
      %>
      
      <div class="input-field col s5 center">
        <select name = "year" class="browser-default" style="margin-top:7px;">
        <%yearCart.forEach(year => {%>
        <option value="<%=year%>"><%=year%> </option>
      <%})%>
      </select>
      </div>
      <div class="input-field col s6 offset-s3 left center" style="width: 50%;">
        <input class="btn light-blue darken-4 white-text" value="CHANGE" type="submit">
      </div>
      </form>
    </div>
  

</div>
<div id = "ubalance" class="modal white">
  <h5 class="header center light-blue-text text-darken-4" style="font-family:Roboto;">Update Balance</h5>
  <a class="modal-close waves-effect waves-grey btn-flat right" style="top: -45px;"><i class="material-icons">close</i></a>
  <div class="row">
    <form action="/account/<%=element._id%>?_method=PUT" method="POST">
      <div class="input-field">
        <input name = "action" type="hidden" placeholder = "Account Name" class="validate" required="" aria-required="true" value = "UpBal">
      </div>
      <div class="input-field col s4 offset-s4 center">
        <input id = "currbal" name = "currbal" type="number" step="0.01" placeholder = "Current Balance" class="validate" required="" aria-required="true" value = "<%=element.currbal%>">
      </div>
      <div class="input-field col s6 offset-s3 left center" style="width: 50%;">
        <input class="btn light-blue darken-4 white-text" value="UPDATE" type="submit">
      </div>
      </form>
    </div>
  

</div>

<div id = "ctransaction" class="modal white">
  <h5 class="header center light-blue-text text-darken-4" style="font-family:Roboto;">Create Transaction</h5>
  <a class="modal-close waves-effect waves-grey btn-flat right" style="top: -45px;"><i class="material-icons">close</i></a>
  
    
  <form action="/account/<%=element._id%>/?_method=PUT" method="POST">
        <input name = "action" type="hidden" class="validate" required="" aria-required="true" value = "Creatran" />
        <div class="row">
        <div class="input-field col s4 offset-s1 center">
        <input name = "amount" type="number" step="0.01" min="0" placeholder = "Amount" class="validate" required="" aria-required="true" value = "">
        <input name = "title" type="text" placeholder = "Title" class="validate" required="" aria-required="true" value = "">
      </div>
      <div class="input-field col s4 offset-s2 center" >
        <input name = "description" type="text" placeholder = "Description" class="validate" required="" aria-required="true" value = "">
       <select name = "category" class="browser-default" style="margin-top:7px;">
        <option disabled>Scroll for More Options</option>
        <optgroup label = "Expense">
        <%categoriesExpense.forEach(category => {%>
        <option value="<%=category%>"><%=category%> </option>
      <%})%>
    </optgroup>
    <optgroup label = "Income">
      <%categoriesIncome.forEach(category => {%>
        <option value="<%=category%>"><%=category%> </option>
      <%})%>
    </optgroup>
      </select>
      </div>
      <div class="input-field col s6 offset-s3 left center" style="width: 50%;">
        <input class="btn light-blue darken-4 white-text" value="CREATE" type="submit">
      </div>
    </div>
      </form>
    

</div>

<div class="section white ">
    
        <h2  class="header center blue-text text-darken-4" style="font-family:Roboto; margin-top: 0;">
            <%=element.name%>'s Account
        </h2>
 
                
                <hr width="70%">
                <div class="container">
                    <table class="striped centered responsive-table"style="margin-top:-20px">      
                        <thead>
                          <tr>
                            <th>Income (100%)</th>
                              <th>Expense (<%=(element.expense*100/element.income).toFixed(2)%>%)</th>
                              <th>Balance (<%=(100 - element.expense*100/element.income).toFixed(2)%>%)</th>
                              <th>Sum of Transactions</th>
                              <th>On Hold</th>
                              <th>Variance</th>
                              
                          </tr>
                        </thead>
                        <tbody>
  
                                  
                          <tr style="font-weight:500;">
                            <td class = "green-text text-darken-1"><%= formatter.format(element.income)%>&#9650;</td>
                            <td class = "red-text text-darken-1"><%= formatter.format(element.expense)%>&#x25bc;</td>
                            

                            <td><%= formatter.format(element.currbal)%></td>
                            <td><%= formatter.format(element.transum)%></td>
                            <td><%= formatter.format(element.onhold)%></td>
                            <% variance = element.currbal-(element.transum+element.onhold)
                              if (variance < 0 && variance > -0.01)
                              {
                                variance *= -1.00
                              }
                            %>
                            <td><%= formatter.format(variance)%></td>
                            
                           
                            
                          </tr>
                        </tbody>
                      </table>
               
            </div>
           

              
               
            <hr>
            <%
            transactionCount = 0
            monthlyIncome = 0
            monthlyExpense = 0
             element.activity.filter(entry => (entry.isActive == true && (month == entry.tstamp.getMonth() && year  == entry.tstamp.getUTCFullYear()))).forEach(entry => {
               transactionCount += 1
               if(!entry.isexpense && (!entry.category.includes('Debit') && !entry.category.includes('Credit')))
               {
                 monthlyIncome += entry.amount
               }
               else if(entry.isexpense && (!entry.category.includes('Debit') && !entry.category.includes('Credit'))){
                 monthlyExpense += entry.amount
               }
            })
            yearlyIncome = 0
            yearlyExpense = 0
            element.activity.filter(entry => ((entry.isActive == true && (!entry.category.includes('Debit','Credit'))) && (year == entry.tstamp.getUTCFullYear()))).forEach(entry => {
               
              if(!entry.isexpense && (!entry.category.includes('Debit') && !entry.category.includes('Credit')))
               {
                 yearlyIncome += entry.amount
               }
               else if(entry.isexpense && (!entry.category.includes('Debit') && !entry.category.includes('Credit'))){
                 yearlyExpense += entry.amount
               }
            })
            %>  
            
        <div class="container">
          <div class="row">
            <div class="col s6">
              <table class="striped centered responsive-table">
                <thead>
                          <tr>
                              <th><%=monthCart[month]%>
                    <hr>
                    </th>                    
                          </tr>
                        </thead>
                        <tbody>
              <table class="striped centered responsive-table" style="margin-top:-30px">      
                        <thead>
                          <tr>
                              <th>Income (100%)</th>
                              <th>Expense (<%=(monthlyExpense*-100/monthlyIncome).toFixed(2)%>%)</th>
                              <th>Savings (<%=(100 - monthlyExpense*-100/monthlyIncome).toFixed(2)%>%)</th>
                          </tr>
                        </thead>
                        <tbody>
  
                                  
                          <tr style="font-weight:500;">
                            
                            <td class = "green-text text-darken-1"><%= formatter.format(monthlyIncome)%>&#9650;</td>
                            <td class = "red-text text-darken-1"><%= formatter.format((monthlyExpense == 0)?monthlyExpense:monthlyExpense*-1)%>&#x25bc;</td>
                            
                            <td><%= formatter.format(monthlyIncome+monthlyExpense)%></td>
                           
                            
                          </tr>
                        </tbody>
                      </table>
                    </tbody>
                    </table>
            </div>
            <div class="col s6">
              <table class="striped centered responsive-table">
                <thead>
                          <tr>
                              <th><%=year%>
                    <hr>
                    </th>                    
                          </tr>
                        </thead>
                        <tbody>
              <table class="striped centered responsive-table" style="margin-top:-30px">      
                        <thead>
                          <tr>
                            <th>Income (100%)</th>
                              <th>Expense (<%=(yearlyExpense*-100/yearlyIncome).toFixed(2)%>%)</th>
                              <th>Savings (<%=(100 - yearlyExpense*-100/yearlyIncome).toFixed(2)%>%)</th>
                          </tr>
                        </thead>
                        <tbody>
  
                                  
                          <tr style="font-weight:500;">
                            
                            <td class = "green-text text-darken-1"><%= formatter.format(yearlyIncome)%>&#9650;</td>
                            <td class = "red-text text-darken-1"><%= formatter.format((yearlyExpense == 0)?yearlyExpense:yearlyExpense*-1)%>&#x25bc;</td>
                            
                            <td><%= formatter.format(yearlyIncome+yearlyExpense)%></td>
                           
                            
                          </tr>
                        </tbody>
                      </table>
                    </tbody>
                    </table>
            </div>
          </div>
               
            </div>
        
        
        
        <h4 class="header center blue-text text-darken-4" style="font-family:Roboto; margin-top: 0px; margin-bottom:-10px;"><%=transactionCount%> Transactions in <%=monthCart[month]%>, <%=year%></h4>
        <hr width="70%">
    <div class="container">
      <input class="form-control" id="myInput" type="text" placeholder="&#128269;Type in to Search">
            <table class="highlight centered responsive-table">
                <thead>
                  <tr>
                      <th>Title</th>
                      <th>Category</th>
                      <th>Date</th>
                      <th>Amount</th>
                      <th>Description</th>
                      <th>Balance</th>
                      <th>Action</th>
                  </tr>
                </thead>
                <tbody id="myTable">
                  
                    <%
                    
                    element.activity.sort((last,current) => {
                    let datelast = new Date(last.tstamp)                    
                    let datecurrent = new Date(current.tstamp)
                    return datecurrent - datelast;
                    })%>
                    <% element.activity.filter(entry => (entry.isActive == true && (month == entry.tstamp.getMonth() && year == entry.tstamp.getUTCFullYear()))).forEach(entry => {%>  
                          
                  <tr style="font-weight:500;">
                    <% 
                    if(!entry.isexpense){
                        var color = "green-text text-darken-1"
                    var type = "Income"
                var trend = "\u25B2"}
                        else{
                    var color = "red-text text-darken-1"
                    var type = "Expense"
                    var trend = "\u25BC"}
                    %>
                    <td><%= entry.title%></td>
                    <td><%= entry.category%></td>
                    <td> <script type="text/javascript">
                         document.write(moment(new Date("<%=entry.tstamp%>"),"ddd MMM DD YYYY HH:MM:SS ZZ").format("ddd DD MMM, YYYY")) 
                    </script>    </td>
                    
                    <td class = "<%=color%>"><%= formatter.format(entry.isexpense?entry.amount*-1:entry.amount)%> <%=trend%></td>
                    <td><%= entry.description%></td>
                    <td><%= formatter.format(entry.postranbal)%></td>
                    <td>
                      <a  class="btn-floating btn-small blue modal-trigger" data-toggle="modal" href="#u<%=entry._id%>"><i class="material-icons">edit</i></a></td>
                      
<div id = "u<%=entry._id%>" class="modal white">
  <h5 class="header center light-blue-text text-darken-4" style="font-family:Roboto;">Update Transaction</h5>
  <a class="modal-close waves-effect waves-grey btn-flat right" style="top: -45px;"><i class="material-icons">close</i></a>
  
    
      <form action="/account/<%=element._id%>/<%=entry._id%>?_method=PUT" method="POST">
       
        <input name = "action" type="hidden" class="validate" required="" aria-required="true" value = "Update" />
        <div class="row">
        <div class="input-field col s4 offset-s1 center">
        
        <input name = "title" type="text" placeholder = "Title" class="validate" required="" aria-required="true" value = "<%=entry.title%>">
        
        
      </div>
      
      <div class="input-field col s4 offset-s2 center">
        <input name = "description" type="text" placeholder = "Description" class="validate" required="" aria-required="true" value = "<%=entry.description%>">
        </div>
      <div class="input-field col s6 offset-s3 left center" style="width: 50%;">
        <input class="btn light-blue darken-4 white-text" value="UPDATE" type="submit">
      </div>
    </div>
      </form>
    


  
</div>

 <%})%>
                  </tr>
                </tbody>
              </table>
       
    </div>
    
    <%});%>
</div>










