<!DOCTYPE html>
  <html lang="en">
    <head>
        <title>lEdge | <%=title%></title>
        <meta name=viewport content="width=device-width, initial-scale=1">
        <meta name="turbolinks-cache-control" content="no-cache">
        <meta name="author" content="Prateek Dubey">
        <meta name="subject" content="Personal Finance Tracking Tool"/>
        <meta name="classification" content="Finance"/>
        <meta name="Language" content="English"/>
        <meta name="Designer" content="Prateek Dubey"/>
        <link rel="shortcut icon" href="<%=relative%>images/icon.png" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Roboto|Handlee" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Caveat+Brush&display=swap" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <style>
            

  ::placeholder{
  color: black;
}
            html{
                width: 100%;
                height: 100%;
                overflow: hidden;
            }
            
            body{
                width: 100%;
                height: 100%;
                overflow-y: scroll;
                padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
                box-sizing: content-box; /* So the width will be 100% + 17px */
            }
            ::-webkit-scrollbar {
                width: 0px;
                background: transparent; /* make scrollbar transparent */
            }
            </style>
    </head>
    <nav id = "home" style="height: 60px;"class="light-blue darken-4">
        <div class = "nav-wrapper">
            <a style="font-family: 'Amatic SC', cursive; font-size: 45px; margin-left: 40px;"href="<%=relative%>">lEdge<img style=" margin-top:5px;margin-left:1px; width: 40px;" src="<%=relative%>images/icon.png"></a>            
        </div>
    </nav>
    <%- body %>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    
    
    <script>
        $(document).ready(function(){
          $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });
        </script>
        
        <script>
             $(document).ready(function(){
    $('.collapsible').collapsible();
  });
            $(document).ready(function(){
    $('.fixed-action-btn').floatingActionButton({
             hoverEnabled: false
  });
  });
            $(document).ready
                (function()
                    {
                        $('.modal').modal();
                        $('select').formSelect();
                    }
                );    
        </script>

        <footer class="page-footer grey lighten-2">
            <h2  class="header center light-blue-text text-darken-4" style="font-family:Amatic SC;margin-top: -18px;">lEdge</h2>
            <h4 class="red-text text-darken-2 center header col s12 white-text" style="font-family:Handlee;">Manage your personal finances professionally</h4>
            <hr width="70%">
            <div class="container">
                <div class="row">
                    <div class="col s12">
                        <ul>
                            <li>
                                <p class="black-text text-darken-4"style="font-family: Handlee; font-size: 20px;">lEdge is something we all need. I always wanted to manage my money and analyse my income & expenses, but never really got an app with all the required features. So, I thought of creating this app with the features one requires to manage their money seamlessly. I hope you would love it.</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright light-blue darken-4">
                <div class="container">
                    <a class = "white-text" target="_blank" href="https://sh0onya.github.io/PrAtEek/"> &copy;
                        <script> 
                            var dateobj = new Date(); 
                            var crntYear = dateobj.getUTCFullYear(); 
                            document.write(crntYear);                     
                        </script>  
                        Sho0nya, Inc.</a>
                </div>
            </div>
        </footer>
  </html>