<!DOCTYPE html>
  <html lang="en">
    <head>
        <title>lEdge | <%=title%></title>
        <meta name=viewport content="width=device-width, initial-scale=1">
        <meta name="turbolinks-cache-control" content="no-cache">
        <meta name="author" content="Prateek Dubey">
        <meta name="subject" content="Personal Finance Tracking Tool"/>
        <meta name="classification" content="Finance"/>
        <meta name="Language" content="English"/>
        <meta name="Designer" content="Prateek Dubey"/>
        <link rel="shortcut icon" href="<%=relative%>images/icon.png" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Amatic+SC|Roboto|Handlee" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <style>          
            .notification {
                padding: 1% 1%;
                position: relative;
                display: inline-block;
            }
            .notification .badge {
                position: absolute;
                top: 9%;
                right: -43%;
                padding: 1.3% 1%;
                border-radius: 0%;
                font-size:x-large;
                font-weight: bold;
                color: white;
            }
            ::placeholder {
                color: black;
            }
            html {
                width: 100%;
                height: 100%;
                overflow: hidden;
            }
            body{
                width: 100%;
                height: 100%;
                overflow-y: scroll;
                padding-right: 17px; 
                box-sizing: content-box; 
            }
            ::-webkit-scrollbar {
                width: 0px;
                background: transparent; 
            }
        </style>
    </head>
    <%
        notiam = noticount
        if(notiam == 0)
        {
            notiam = ""
        }
        notiadd = '+'
        sidenavFunc = "sidenav-trigger"
        sidenavLink = "href='#'"
        imagesettings = "img src="+option+" style=width:7%; height:7%;"
        imagesearch = "img src="+search+" style=width:7%; height:7%;"
        imagecalculate = "img src="+calculate+" style=width:7%; height:7%;"
        if(bell == ""){
            notiam = ""
            notiadd = ""
            sidenavFunc = ""
            sidenavLink = ""
            imagesettings = "meta"
            imagesearch = "meta"
            imagecalculate = "meta"
        }
    %>
    
    <div class="navbar-fixed">
        <nav id = "home" style="height: 60px;"class="light-blue darken-4">
            <div class = "nav-wrapper">
                <a class="right" style="font-family: 'Amatic SC', cursive; font-size: 45px; margin-right: 2%;"href="<%=relative%>">lEdge<img style=" margin-top:5px;margin-left:1px; width: 40px;" src="<%=relative%>images/icon.png"></a>            
                <a target="_blank" class="right" style="margin-right: 40%; margin-top: 0.3%;"href="https://govardhanpeeth.org/en/"><img style=" margin-top:5px;margin-left:1px; width: 40px;" src="<%=relative%>images/<%=god%>.png"></a>
                <h1 style="margin-left: 0%;font-size: 25px;font-family: Handlee; margin-top: 0.4%;" class="left"><a title="Check Notifications" <%=sidenavLink%> class="notification <%=sidenavFunc%> show-on-large" data-target="slide-out"><%=bell%><span class="badge"><%=notiam%></span></a></h1>           
                <h1 style="margin-left: -0.3%;font-size: 25px;font-family: Handlee; margin-top: 1.2%;" class="left"><a title="Update Settings" data-toggle="modal" class="modal-trigger" href="#options"><<%=imagesettings%>></a></h1>
            </div>
        </nav>
    </div>
    <%- body %>

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    
    
    <script>
        $(document).ready(function(){
          $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });
        </script>
        
        <script>
          $(document).ready(function(){
    $('.sidenav').sidenav({
        
        
    });
  });

  $(document).ready(function(){
    $('.datenotification').datepicker({
        yearRange:1,
        autoClose:true,
        showDaysInNextAndPreviousMonths: true,
        minDate: new Date(),
    });
  });

    $(document).ready(function(){
    $('.datepicker').datepicker({
        yearRange:50,
        autoClose:true,
        showDaysInNextAndPreviousMonths: true,
        margin:0
    });
  });
            $(document).ready(function(){
    $('.tooltipped').tooltip();
  });
             $(document).ready(function(){
    $('.collapsible').collapsible();
  });
            $(document).ready(function(){
    $('.fixed-action-btn').floatingActionButton({
             hoverEnabled: false
  });
  });
            $(document).ready
                (function()
                    {
                        $('.modal').modal();
                        $('select').formSelect();
                    }
                );    
        </script>

        <footer class="page-footer grey lighten-2">
            <h2  class="header center light-blue-text text-darken-4" style="font-family:Amatic SC;margin-top: -18px;">lEdge</h2>
            <h4 class="red-text text-darken-2 center header col s12 white-text" style="font-family:Handlee;">Manage your personal finances professionally</h4>
            <hr width="70%">
            <div class="container">
                <div class="row">
                    <div class="col s12">
                        <ul>
                            <li>
                                <p class="black-text text-darken-4"style="font-family: Handlee; font-size: 20px;">lEdge is something we all need. I always wanted to manage my money and analyse my income & expenses, but never really got an app with all the required features. So, I thought of creating this app with the features one requires to manage their money seamlessly. I hope you would love it.</p>
                                <a class = "white-text" target="_blank" href="https://sh0onya.github.io/PrAtEek/"><img style = "transform: rotate(-3deg); width:35%;height:35%;" src="https://see.fontimg.com/api/renderfont4/mOBm/eyJyIjoiZnMiLCJoIjo2MSwidyI6MTI1MCwiZnMiOjQ5LCJmZ2MiOiIjMDAwMDAwIiwiYmdjIjoiI0ZGRkZGRiIsInQiOjF9/UHJhdGVla0R1YmV5/autograf-personal-use-only.png" alt="Prateek Dubey" class="right"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright light-blue darken-4">
                <div class="container">
                    <a style="font-size:large;" class = "white-text" target="_blank" href="https://github.com/Sh0onya"> &copy;
                        <script> 
                            var dateobj = new Date(); 
                            var crntYear = dateobj.getUTCFullYear(); 
                            document.write(crntYear);                     
                        </script>  
                        Sho0nya, Inc.</a>
                    <a style="font-size:large;" class = "right white-text" href = "<%=relative%>about">About</a>
                    <a target="_blank" href = "https://www.india.gov.in/" title="Made in India with ❤️" style="margin-right: 0%;" class="right"><img src = "<%=relative%>images/india.png" style="height:9%;width:7%;"></a>
                </div>
            </div>
        </footer>
  </html>