
<%
                    const formatter = new Intl.NumberFormat('en-US', {
  style: 'currency',
  currency: 'INR',
  minimumFractionDigits: 2
})%>


<div class="section white ">
  <h2  class="header center light-blue-text text-darken-4" style="font-family:Roboto;">Select an account</h2>
  <hr width="70%">
  <div class="container">
    <div class="row">
      <% account.forEach(element => { %>
      <div class="col s4">
        <div class="z-depth-4 card">
          <div class="card-panel waves-block waves-light light-blue darken-4">
            <a href="/account/<%=element._id%>">
              <p class="card-title white-text center"> <%=element.name%>'s Account<br>Balance: <%=formatter.format(element.transum)%></p>
            </a>
          </div>
        </div>
      </div>
      <%});%>
      <div class="col s4">
        <div class="z-depth-4 card">
          <div class="card-panel waves-block waves-light white">
            <a data-toggle="modal" class="modal-trigger" href="#addaccount">
              <p class="card-title blue-text text-darken-4 center" style="font-size: 34px;">+Account</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id = "addaccount" class="modal white">
    <h5 class="header center light-blue-text text-darken-4" style="font-family:Handlee;">Open an Account</h5>
    <a class="modal-close waves-effect waves-grey btn-flat right" style="top: -45px;"><i class="material-icons">close</i></a>
    <div class="row">
      <form action="/account" method="POST">
        <div class="input-field col s6 offset-s3 center dark-blue-text" style="width: 50%; ">
          <input name = "name" type="text" placeholder = "Account Name" class="validate" required="" aria-required="true" value = "<%=newaccount.name%>">
        </div>
        <div class="input-field col s6 offset-s3 center" style="width: 50%; margin-top: -5px;">
          <input  name = "currbal" type="number" step="0.01" placeholder = "Opening Balance" class="validate" required="" aria-required="true" value = "<%=newaccount.currbal%>">
        </div>
        <div class="input-field col s6 offset-s3 center" style="width: 50%; margin-top: -5px;">
          <input name = "pass" type="password" placeholder = "Password" class="validate" required="" aria-required="true" value = "<%=newaccount.passWord%>">
        </div>
        <div class="input-field col s6 offset-s3 left center" style="width: 50%;">
          <input class="btn light-blue darken-4 white-text" value="OPEN" type="submit">
        </form>
      </div>
    </div>
  </div>