
<style>
  #addaccount { width: 61% !important ; height: 61% !important ; } 
</style>

<div class="section white ">
 
  <h2  class="header center light-blue-text text-darken-4" style="font-family:Roboto;">Select an Account</h2>
  <hr width="70%">
  <div class="container">
    <div class="row">
      <% account.filter(element => element.isActive == true).forEach(element => { %>
        <%
        const formatter = new Intl.NumberFormat('en-US', {
          style: 'currency',
          currency: element.currency,
          notation: "compact",
  compactDisplay: "short"
        })%>
      <div class="col s4">
        <div class="z-depth-4 card">
          <div class="card-panel waves-block waves-light light-blue darken-4">
            <a href="/account/<%=element._id%>">
              <p class="card-title white-text center"> <%=element.name%>'s Account<br>Balance: <%=formatter.format(element.transum+element.onhold)%></p>
            </a>
          </div>
        </div>
      </div>
      <%});%>
      <div class="col s4">
        <div class="z-depth-4 card">
          <div class="card-panel waves-block waves-light white">
            <a data-toggle="modal" class="modal-trigger" href="#addaccount">
              <p class="card-title blue-text text-darken-4 center" style="font-size: 34px;"><i class="material-icons">person_add</i> Account</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id = "addaccount" class="modal white">
  <br><br>
    <h3 class="header center light-blue-text text-darken-4" style="font-family:Roboto;">Open an Account</h3>
    <div class="row">
      <form action="/account" method="POST">
        <div class="input-field col s4 offset-s1 center dark-blue-text" >
          <input name = "name" type="text" placeholder = "Account Name" class="validate" required="" aria-required="true" value = "<%=newaccount.name%>">
        </div>
        <div class="input-field col s4 offset-s2 center" >
          <input  name = "currbal" type="number" step="0.01" placeholder = "Opening Balance" class="validate" required="" aria-required="true" value = "<%=newaccount.currbal%>">
        </div>
        <div class="input-field col s4 offset-s1 center" style="margin-top: -5px;">
          <input  name = "aor" type="number" step="0.01" placeholder = "Aimed Retirment Age" class="validate" required="" aria-required="true" >
        </div>
        <div class="input-field col s4 offset-s2 center" style="margin-top: -5px;">
          <input  name = "dob" type="text" placeholder = "Date of Birth" class="validate datepicker" required="" aria-required="true" >
        </div>
        <div class="input-field col s4 offset-s1 center" style="margin-top: -5px;">
          <input  name = "dnw" type="number" step="0.01" placeholder = "Aimed Networth" class="validate" required="" aria-required="true" >
        </div>
        <div class="input-field col s4 offset-s2 center" style="margin-top: -5px;">
        <select name = "currency" class="browser-default" style="margin-top:7px;">
          
    <% 
const currencies = ['USD','GBP','ILS','INR','CNY','JPY','EUR']
  %>
        <%currencies.forEach(currency => {%>
        <option value="<%=currency%>" <%=currency == 'INR'?'selected':''%>><%=currency%></option>
      <%})%>
    
      </select>
    </div>
        <div class="input-field col s6 offset-s3 left center" style="width: 50%;">
          <input class="btn light-blue darken-4 white-text" value="OPEN" type="submit">
        </form>
      </div>
    </div>
  </div>