

<% account.forEach(element => { %>
  <%
  const categoriesMetal = ["Gold","Silver"]
  const categoriesEstate = ["Bunglow","Plot","Flat","Office Space","Shop"]
  const categoriesSecurity = ["Equity"]
  const stockList = tickerStocks
  const stockValues = priceStocks 
  %>


<%
const formatter = new Intl.NumberFormat('en-US', {
style: 'currency',
currency: element.currency,
notation: "compact",
  compactDisplay: "short"
})%>
  
  <div class="fixed-action-btn">
    <%      
              link = '/'+year+'/'+parseFloat(month+1)
              if(month == (new Date().getMonth()) && year == (new Date().getUTCFullYear())){
                link = ''
              }
        %>
    <a class="btn-floating btn-large light-blue darken-4">
      <i class="large material-icons">tune</i>
    </a>
    <ul>
      <li><a title="Chart Analytics" data-toggle="modal" href="/account/<%=element._id%>/chart<%=link%>" class="btn-floating purple darken-1 modal-trigger"><i class="material-icons">insights</i></a></li>
      <li><a title="Pivot Tables" data-toggle="modal" href="/account/<%=element._id%>/pivots<%=link%>" class="btn-floating pink accent-3 modal-trigger"><i class="material-icons">pivot_table_chart</i></a></li>
      <li><a title="Add Asset" data-toggle="modal" href="#aasset" class="btn-floating orange accent-4 modal-trigger"><i class="material-icons">local_mall</i></a></li>
    </ul>
  </div>
  
<div id = "aasset" class="modal white"><h5 class="header center light-blue-text text-darken-4" style="font-family:Roboto;">Add Asset</h5>
  <a class="modal-close waves-effect waves-grey btn-flat right" style="top: -45px;"><i class="material-icons">close</i></a>
  <form action="/account/<%=element._id%>/assets/?_method=PUT" method="POST">
        <input name = "action" type="hidden" class="validate" required="" aria-required="true" value = "addAsset" />
        <div class="row">
          <div class="input-field col s5 offset-s1 center">
          <input name = "units" type="number" step="0.01" min="0" placeholder = "Units" class="validate" required="" aria-required="true" value = "">
          <input name = "description" type="text" placeholder = "Description" class="validate" required="" aria-required="true" value = "">
        </div>
        <div class="input-field col s5 center" >
          <input name = "amount" type="number" step="0.01" min="0" placeholder = "Total Amount" class="validate" required="" aria-required="true" value = "">
         <select name = "category" class="browser-default" style="margin-top:7px;">
          <option disabled>Scroll for More Options</option>
          <optgroup label = "Metal">
          <%categoriesMetal.forEach(category => {%>
          <option value="<%=category%>"><%=category%></option>
        <%})%>
      </optgroup>
      <optgroup label = "Real Estate">
        <%categoriesEstate.forEach(category => {%>
          <option value="<%=category%>"><%=category%></option>
        <%})%>
      </optgroup>
      <optgroup label = "Securities">
        <%categoriesSecurity.forEach(category => {%>
          <option value="<%=category%>"><%=category%></option>
        <%})%>
      </optgroup>
        </select>
        </div>

        <div class="input-field col s6 offset-s3 center">
          <p> Put ticker inside '[ ]' for equity in description</p>
        </div>
          
        <div class="input-field col s6 offset-s3 left center" style="width: 50%;">
          <input class="btn light-blue darken-4 white-text" value="ADD" type="submit">
        </div>
      </div>
      </form>
  

</div>
<div class="section white" >
    <div class="row" style="margin-bottom: -10px;">
      <div class="col s1 left">
        <a class="btn-floating btn-medium waves-effect waves-light blue darken-4" href="../<%=element._id%>"><i class="material-icons">keyboard_arrow_left</i></a>
      </div>
    <div class="col s11">
            <h2 class="header center blue-text text-darken-4" style="font-family:Roboto; margin-top: 0px; margin-right: 100px;"><%=element.name%>'s Assets</h2>
      </div>
      </div>
      <hr width="70%">
      <div class="container">
        <table class="striped centered responsive-table"style="margin-top:-20px">      
            <thead>
              <tr>
                <th>Networth</th>
                <th>Income (100%)</th>
                  <th>Expense (<%=(element.expense*100/element.income).toFixed(2)%>%)</th>
                  <th>Balance (<%=(100 - element.expense*100/element.income).toFixed(2)%>%)</th>
                  <th>Sum of Transactions</th>
                  <th>On Hold</th>
                  <th>Variance</th>
                  
              </tr>
            </thead>
            <tbody>
              <% 
              assetsWorth = 0
              element.asset.forEach(entry => {
                if(entry.category == "Gold"){
                  assetPrice = priceGold*entry.units                  
                }
                else if(entry.category == "Silver"){
                  assetPrice = priceSilver*entry.units
                }
                else if(entry.category == "Equity"){
                  position = stockList.indexOf(entry.description)
                  assetPrice = stockValues[position]*entry.units
                }
                else{
                  assetPrice = entry.amount*entry.units
                }
                assetsWorth += assetPrice
              })%>
              <tr style="font-weight:500;">
                <td><%= formatter.format(element.transum+element.onhold+assetsWorth)%></td>
                <td class = "green-text text-darken-1"><%= formatter.format(element.income)%>&#9650;</td>
                <td class = "red-text text-darken-1"><%= formatter.format(element.expense)%>&#x25bc;</td>
                <td><%= formatter.format(element.currbal)%></td>
                <td><%= formatter.format(element.transum)%></td>
                <td><%= formatter.format(element.onhold)%></td>
                <% variance = element.currbal-(element.transum+element.onhold)
                  if (variance < 0 && variance > -0.01)
                  {
                    variance *= -1.00
                  }
                %>
                <td><%= formatter.format(variance)%></td>
                
               
                
              </tr>
            </tbody>
          </table>
   
</div>
<hr width="70%">
<div class="container">
        <div class="row">
          
          </div>
        </div>

<div class="container">
        <div class="row">
          <% 
          invested = 0
          currval = 0
          color = "black-text"
            sign = 0.00
            trend = ""
          element.asset.forEach(entry => {
            if(entry.category == "Gold"){
                  assetPrice = priceGold                  
                }
                else if(entry.category == "Silver"){
                  assetPrice = priceSilver
                }
                else if(entry.category == "Equity"){
                  position = stockList.indexOf(entry.description)
                  assetPrice = stockValues[position]
                }
                else{
                  assetPrice = entry.amount
                }
            invested += entry.amount
            currval += assetPrice*entry.units
            if((currval - invested) > 0)
                {
                  color = "green-text text-darken-1"
                  trend = "\u25B2"
                  sign = 1.00
                }
                else if((currval - invested) < 0){
                  color = "red-text text-darken-1"
                  trend = "\u25BC"
                  sign = -1.00
                }
            })%>
            
            
            <div class="col s8">
              
              <table class="highlight centered responsive-table">
                <thead>
                 <tr> 
                  <th>Invested</th>
                  <th>Current Value</th>
                  <th>P/L Change</th>
                  </tr>
                  </thead>
                  <tbody>
                    <tr style="font-weight:500;">
                      <td><%=formatter.format(invested)%></td>
                      <td><%=formatter.format(currval)%></td>
                      <td class="<%=color%>"><%=formatter.format((currval - invested)*sign)%> (<%=(isNaN((currval - invested)*100/invested*sign)?0.00:(currval - invested)*100/invested*sign).toFixed(2)%>%) <%=trend%></td>
                      </tr>
                    </tbody>
                </table></div>
            <div class="col s4">
              <table class="highlight centered responsive-table">
            <thead>
             <tr> 
              <th>Gold (22ct)</th>
              <th>Silver</th>
              </tr>
              </thead>
              <tbody>
                <tr style="font-weight:500;">
                  <td><%=formatter.format(priceGold)%>/gm</td>
                  <td><%=formatter.format(priceSilver)%>/gm</td>
                  </tr>
                </tbody>
            </table></div>
          </div>
        </div>
      
      

      
      

      <div class="container">
        <div class="row">
          <%if(element.asset != ""){%>
          <table class="highlight centered responsive-table">
            <thead>
              <tr>
                <th>Category</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Current Value</th>
                <th>P/L Change</th>
                
              </tr>
            </thead>
            <tbody>
              <% element.asset.forEach(entry => {%> 
                <%
                if(entry.category == "Gold"){
                  assetPrice = priceGold                  
                }
                else if(entry.category == "Silver"){
                  assetPrice = priceSilver
                }
                else if(entry.category == "Equity"){
                  position = stockList.indexOf(entry.description)
                  assetPrice = stockValues[position]
                }
                else{
                  assetPrice = entry.amount
                }
                PLc = assetPrice*entry.units-entry.amount 
                if(PLc > 0)
                {
                  var color = "green-text text-darken-1"
                  var trend = "\u25B2"
                  sign = 1.00
                }
                else{
                  var color = "red-text text-darken-1"
                  var trend = "\u25BC"
                  sign = -1.00
                }
                %>
              <tr style="font-weight:500;">
                <td><%=entry.category%></td>
                <%if(entry.category == "Equity"){
                  description = entry.units+" shares of "+entry.description
                }
                else if(entry.category == "Gold" || entry.category == "Silver"){
                  description = entry.units+" grams of "+entry.category
                }
                else{
                  description = entry.description
                }
                  %>
                <td><%=description%></td>
                <td><%=formatter.format(entry.amount)%></td>
                <td><%=formatter.format(assetPrice*entry.units)%></td>
                <td class="<%=color%>"><%=formatter.format(PLc*sign)%> (<%=(PLc*100/entry.amount*sign).toFixed(2)%>%) <%=trend%></td>
                
              </tr>
              <%})%>
              </tbody>
          </table>
          <%}else{%>
            <h3 class="center blue-text text-darken-4">INVEST FOR YOUR FUTURE</h3>
<%}%>
        </div>
      </div>

    </div>
    <%})%>

  

    