

<% account.forEach(element => { %>
  <%const categoriesAsset = ["Metal","Security","Real Estate"]%>
  
  <div class="fixed-action-btn">
    <%      
              link = '/'+year+'/'+parseFloat(month+1)
              if(month == (new Date().getMonth()) && year == (new Date().getUTCFullYear())){
                link = ''
              }
        %>
    <a class="btn-floating btn-large light-blue darken-4">
      <i class="large material-icons">tune</i>
    </a>
    <ul>
      <li><a title="Chart Analytics" data-toggle="modal" href="/account/<%=element._id%>/chart<%=link%>" class="btn-floating purple darken-1 modal-trigger"><i class="material-icons">insights</i></a></li>
      <li><a title="Pivot Tables" data-toggle="modal" href="/account/<%=element._id%>/pivots<%=link%>" class="btn-floating pink accent-3 modal-trigger"><i class="material-icons">pivot_table_chart</i></a></li>
      <!--<li><a title="Add Asset" data-toggle="modal" href="#aasset" class="btn-floating orange accent-4 modal-trigger"><i class="material-icons">local_mall</i></a></li>-->
    </ul>
  </div>
  
<div id = "aasset" class="modal white"><h5 class="header center light-blue-text text-darken-4" style="font-family:Roboto;">Add Asset</h5>
  <a class="modal-close waves-effect waves-grey btn-flat right" style="top: -45px;"><i class="material-icons">close</i></a>
  <form action="/account/<%=element._id%>/assets/?_method=PUT" method="POST">
        <input name = "action" type="hidden" class="validate" required="" aria-required="true" value = "addAsset" />
        <div class="row">
        <div class="input-field col s4 offset-s1 center">
        <input name = "title" type="text" placeholder = "Title" class="validate" required="" aria-required="true" value = "">
        <input name = "uprice" type="number" step="0.01" min="0" placeholder = "Unit Price" class="validate" required="" aria-required="true" value = "">
      </div>
      <div class="input-field col s4 offset-s2 center" >
        <input name = "units" type="number" step="0.01" min="0" placeholder = "Units" class="validate" required="" aria-required="true" value = "">
       <select name = "category" class="browser-default" style="margin-top:7px;">
        <option disabled>Select a Category</option>
        <%categoriesAsset.forEach(category => {%>
        <option value="<%=category%>"><%=category%> </option>
      <%})%>
      </select>
      </div>
      <div class="input-field col s6 offset-s3 left center" style="width: 50%;">
        <input class="btn light-blue darken-4 white-text" value="Add" type="submit">
      </div>
    </div>
      </form>
  

</div>
<div class="section white" >
    <div class="row" style="margin-bottom: -10px;">
      <div class="col s1 left">
        <a class="btn-floating btn-medium waves-effect waves-light blue darken-4" href="../<%=element._id%>"><i class="material-icons">keyboard_arrow_left</i></a>
      </div>
    <div class="col s11">
            <h2 class="header center blue-text text-darken-4" style="font-family:Roboto; margin-top: 0px; margin-right: 100px;"><%=element.name%>'s Assets</h2>
      </div>
      </div>
      <hr width="70%">
      <%=element.asset%>
    
    </div>
    <%})%>

    