
<% account.forEach(element => { %>
  <%investment = 0
 element.activity.filter(entry => (((entry.isActive == true && entry.isexpense) && entry.category.includes('Investment')))).forEach(entry => {
 investment += parseFloat(entry.amount*-1.00)
 })%>
  <%
  transactionCount = 0
  monthlyIncome = 0
  monthlyExpense = 0
  monthlyInvested = 0
   element.activity.filter(entry => (entry.isActive == true && (month == entry.tstamp.getMonth() && year  == entry.tstamp.getUTCFullYear()))).forEach(entry => {
     transactionCount += 1
     if(!entry.isexpense && (!entry.category.includes('Debit') && !entry.category.includes('Credit')))
     {
       monthlyIncome += entry.amount
     }
     else if(entry.isexpense && (!entry.category.includes('Debit') && !entry.category.includes('Investment') && !entry.category.includes('Credit'))){
       monthlyExpense += entry.amount
     }
     else if(entry.isexpense && (entry.category.includes('Investment'))){
       monthlyInvested += entry.amount*-1.00
     }
  })

  yearlyIncome = 0
  yearlyExpense = 0
  yearlyInvested = 0
  element.activity.filter(entry => ((entry.isActive == true && (!entry.category.includes('Debit','Credit'))) && (year == entry.tstamp.getUTCFullYear()))).forEach(entry => {
     
    if(!entry.isexpense && (!entry.category.includes('Debit') && !entry.category.includes('Credit')))
     {
       yearlyIncome += entry.amount
     }
     else if(entry.isexpense && (!entry.category.includes('Debit') && !entry.category.includes('Investment') && !entry.category.includes('Credit'))){
       yearlyExpense += entry.amount
     }
     else if(entry.isexpense && (entry.category.includes('Investment'))){
       yearlyInvested += entry.amount*-1.00
     }
  })
  %>  

<style>
  .modal { overflow: visible; }
.modal-body { overflow-y: visible !important; }
.income:hover span {display:none}
.income:hover:before {content:"100%"}
.invested:hover span {display:none}
.invested:hover:before {content:"<%=((investment)*100/element.income).toFixed(2)%>%"}
.expense:hover span {display:none}
.expense:hover:before {content:"<%=((element.expense)*100/element.income).toFixed(2)%>%"}
.balance:hover span {display:none}
.balance:hover:before {content:"<%=(100 - element.expense*100/element.income).toFixed(2)%>%"}
.monthlyincome:hover span {display:none}
.monthlyincome:hover:before {content:"100%"}
.monthlyinvested:hover span {display:none}
.monthlyinvested:hover:before {content:"<%=(monthlyIncome+monthlyExpense<=0?0.00:(monthlyInvested)*100/monthlyIncome).toFixed(2)%>%"}
.monthlyexpense:hover span {display:none}
.monthlyexpense:hover:before {content:"<%=(monthlyIncome+monthlyExpense<=0.00?0.00:(monthlyExpense*-100/monthlyIncome)).toFixed(2)%>%"}
.monthlybalance:hover span {display:none}
.monthlybalance:hover:before {content:"<%=(monthlyIncome+monthlyExpense<=0.00?0.00:(100 - (monthlyExpense-monthlyInvested)*-100/monthlyIncome)).toFixed(2)%>%"}
.yearlyincome:hover span {display:none}
.yearlyincome:hover:before {content:"100%"}
.yearlyinvested:hover span {display:none}
.yearlyinvested:hover:before {content:"<%=(yearlyIncome+yearlyExpense<=0.00?0.00:(yearlyInvested)*100/yearlyIncome).toFixed(2)%>%"}
.yearlyexpense:hover span {display:none}
.yearlyexpense:hover:before {content:"<%=(yearlyIncome+yearlyExpense<=0.00?0.00:(yearlyExpense*-100/yearlyIncome)).toFixed(2)%>%"}
.yearlybalance:hover span {display:none}
.yearlybalance:hover:before {content:"<%=(yearlyIncome+yearlyExpense<=0.00?0.00:(100 - (yearlyExpense-yearlyInvested)*-100/yearlyIncome)).toFixed(2)%>%"}

</style>
 
  <%
  const monthCart = ["January","February","March","April","May","June","July","August","September","October","November","December"]
  const stockList = tickerStocks
  const stockValues = priceStocks
  %>
 <%
 const formatter = new Intl.NumberFormat('en-US', {
 style: 'currency',
 currency: element.currency,
 minimumFractionDigits: 2
 })
 const formatterDashboard = new Intl.NumberFormat('en-US', {
 style: 'currency',
 currency: element.currency,
 notation: "compact",
   compactDisplay: "short"
 })
 %>

  
<div class="fixed-action-btn">
  <%      
            link = '/'+year+'/'+parseFloat(month+1)
            if(month == (new Date().getMonth()) && year == (new Date().getUTCFullYear())){
              link = ''
            }
      %>
  <a class="btn-floating btn-large light-blue darken-4 pulse">
    <i class="large material-icons">layers</i>
  </a>
  <ul>
    <li><a title="Logout" data-toggle="modal" href="#logout" class="btn-floating black modal-trigger"><i class="material-icons">logout</i></a></li>
    <li><a title="Change Period" data-toggle="modal" href="#chperiod" class="btn-floating red modal-trigger"><i class="material-icons">today</i></a></li>
    <li><a title="Search" href="/account/<%=element._id%>/search" class="btn-floating teal modal-trigger"><i class="material-icons">search</i></a></li>    
    <li><a title="Pivot Tables"  href="/account/<%=element._id%>/pivots<%=link%>" class="btn-floating pink accent-3 modal-trigger"><i class="material-icons">pivot_table_chart</i></a></li>
    <li><a title="Statistics"  href="/account/<%=element._id%>/stats<%=link%>" class="btn-floating blue-grey modal-trigger"><i class="material-icons">functions</i></a></li>
    <li><a title="Asset Management"  href="/account/<%=element._id%>/assets" class="btn-floating orange modal-trigger"><i class="material-icons">account_balance</i></a></li>    
  </ul>
</div>

<div class="section white" >
<div class="row" style="margin-bottom: -10px;">
  <div class="col s1 left">
    <%
        link = element._id
        if(month != new Date().getMonth())
        {
          link = '../../'+element._id+'/'+year+'/'+parseFloat(month+1)
        }
    %>
    <a title = "Home" class="btn-floating btn-medium waves-effect waves-light blue darken-4" href="../<%=link%>"><i class="material-icons">roofing</i></a>
  </div>
<div class="col s11">
        <h2 class="header center blue-text text-darken-4" style="font-family:Roboto; margin-bottom: -10px; margin-top: 0px; margin-right: 120px;">Charts for <%=element.name%></h2>
  </div>
        
  </div>
  
    
    
  
</div>
<div class="container">
  <% 
              assetsWorth = 0
              element.asset.filter(entry => entry.isActive == true).forEach(entry => {
                if(entry.category == "Gold"){
                  assetPrice = priceGold*entry.units                  
                }
                else if(entry.category == "Silver"){
                  assetPrice = priceSilver*entry.units
                }
                else if(entry.category == "Equity"){
                  position = stockList.indexOf(entry.description)
                  assetPrice = stockValues[position]*entry.units
                }
                else if(entry.category == "Extra Charge"){
                  assetPrice = 0
                }
                else{
                  assetPrice = entry.tape*entry.units
                }
                assetsWorth += assetPrice
              })%>
  <div class="row">
    <div class="col s6" style="margin-bottom: -15px;">
      <div class="progress green lighten-4 tooltipped" data-position="left" data-tooltip="<%=((element.transum+element.onhold+assetsWorth-element.debt)/element.dnw*100).toFixed(2)%>% Goal Completed<br><%= formatterDashboard.format(element.transum+element.onhold+assetsWorth-element.debt)%> of <%=formatterDashboard.format(element.dnw)%>">
        <div class="determinate green darken-4" style=<%="width:"+(element.transum+element.onhold+assetsWorth-element.debt)/element.dnw*100+"%"%>></div>
    </div>
      </div>
      <div class="col s6" style="margin-bottom: -15px;">
        <%
          tday = new Date()
          bday = element.dob
          diff = Math.abs(tday - bday)
          diff = Math.ceil(diff / (1000 * 60 * 60 * 24)); 
          years = diff/365.25
          rdiff = element.aor*365.25
          percgoal = diff*100/rdiff
        %>
        <div class="progress red lighten-4 tooltipped" data-position="right" data-tooltip="<%=percgoal.toFixed(2)%>% Time Finished<br><%=years.toFixed(2)%> of <%=element.aor%> Years">
          <div class="determinate red darken-4" style=<%="width:"+ percgoal +"%"%>></div>
      </div>
        </div>
    </div>
                    <table class="striped centered responsive-table"style="margin-top:-30px">      
                        <thead>
                          <tr>
                            <th>Networth</th>
                            <th>Debt</th>
                            <th class = "income"><span>Income</span></th>
                            <th class = "expense"><span>Expense</span></th>
                              <th class = "invested"><span>Invested</span></th>
                              <th class = "balance"><span>Balance</span></th>
                              <th>Transactions</th>
                              <th>On Hold</th>
                              <th>Variance</th>
                              
                          </tr>
                        </thead>
                        <tbody>
                          
                                  
                          <tr style="font-weight:500;">
                            <td class="tooltipped" data-position="bottom" data-tooltip="<%=formatter.format(element.transum+element.onhold+assetsWorth-element.debt)%>"><%= formatterDashboard.format(element.transum+element.onhold+assetsWorth-element.debt)%></td>
                            <td data-position="bottom" data-tooltip="<%=formatter.format(element.debt)%>" class="tooltipped" ><%= formatterDashboard.format(element.debt)%></td>
                            <td data-position="bottom" data-tooltip="<%=formatter.format(element.income)%>" class = "tooltipped green-text text-darken-1"><%= formatterDashboard.format(element.income)%>&#9650;</td>
                            <td data-position="bottom" data-tooltip="<%=formatter.format(element.expense)%>" class = "tooltipped red-text text-darken-1"><%= formatterDashboard.format(element.expense)%>&#x25bc;</td>
                            <td data-position="bottom" data-tooltip="<%=formatter.format(investment)%>" class="tooltipped" ><%=formatterDashboard.format(investment)%></td>
                            <td data-position="bottom" data-tooltip="<%=formatter.format(element.currbal)%>" class="tooltipped" ><%= formatterDashboard.format(element.currbal)%></td>
                            <td data-position="bottom" data-tooltip="<%=formatter.format(element.transum)%>" class="tooltipped" ><%= formatterDashboard.format(element.transum)%></td>
                            <td data-position="bottom" data-tooltip="<%=formatter.format(element.onhold)%>" class="tooltipped" ><%= formatterDashboard.format(element.onhold)%></td>
                            <% variance = element.currbal-(element.transum+element.onhold)
                              if (variance < 0 && variance > -0.01)
                              {
                                variance *= -1.00
                              }
                            %>
                            <td data-position="bottom" data-tooltip="<%=formatter.format(variance)%>" class="tooltipped" ><%= formatterDashboard.format(variance)%></td>
                            
                           
                            
                          </tr>
                        </tbody>
                      </table>
               
            </div>
           

              
              
            
        <div class="container">
          <div class="row">
            <div class="col s6">
              <table class="striped centered responsive-table">
                <thead>
                          <tr>
                              <th><%=monthCart[month]%>
                    <hr>
                    </th>                    
                          </tr>
                        </thead>
                        <tbody>
              <table class="striped centered responsive-table" style="margin-top:-30px">      
                        <thead>
                          <tr>
                            <th class = "monthlyincome"><span>Credit</span></th>
                            <th class = "monthlyexpense"><span>Debit</span></th>
                            <th class = "monthlyinvested"><span>Invested</span></th>
                            <th class = "monthlybalance"><span>Balance</span></th>
                          </tr>
                        </thead>
                        <tbody>
  
                                  
                          <tr style="font-weight:500;">
                            
                            <td class = "green-text text-darken-1"><%= formatter.format(monthlyIncome)%>&#9650;</td>
                            <td class = "red-text text-darken-1"><%= formatter.format((monthlyExpense == 0)?monthlyExpense:monthlyExpense*-1)%>&#x25bc;</td>
                            <td><%= formatter.format(monthlyInvested)%></td>
                            <td><%= formatter.format(monthlyIncome+monthlyExpense>0?monthlyIncome+monthlyExpense-monthlyInvested:0.00)%></td>
                           
                            
                          </tr>
                        </tbody>
                      </table>
                    </tbody>
                    </table>
            </div>
            <div class="col s6">
              <table class="striped centered responsive-table">
                <thead>
                          <tr>
                              <th><%=year%>
                    <hr>
                    </th>                    
                          </tr>
                        </thead>
                        <tbody>
              <table class="striped centered responsive-table" style="margin-top:-30px">      
                        <thead>
                          <tr>
                            <th class = "yearlyincome"><span>Credit</span></th>
                              <th class = "yearlyexpense"><span>Debit</span></th>
                              <th class = "yearlyinvested"><span>Invested</span></th>
                              <th class = "yearlybalance"><span>Balance</span></th>
                          </tr>
                        </thead>
                        <tbody>
  
                                  
                          <tr style="font-weight:500;">
                            
                            <td class = "green-text text-darken-1"><%= formatter.format(yearlyIncome)%>&#9650;</td>
                            <td class = "red-text text-darken-1"><%= formatter.format((yearlyExpense == 0)?yearlyExpense:yearlyExpense*-1)%>&#x25bc;</td>
                            <td><%= formatter.format(yearlyInvested)%></td>
                            <td><%= formatter.format(yearlyIncome+yearlyExpense>0?yearlyIncome+yearlyExpense-yearlyInvested:0.00)%></td>
                           
                            
                          </tr>
                        </tbody>
                      </table>
                    </tbody>
                    </table>
            </div>
          </div>
               
            </div>
            <div id = "logout" class="modal white">
              <h5 class="header center light-blue-text text-darken-4" style="font-family:Roboto;">Do you want to log out of the App?</h5>
              <a class="modal-close waves-effect waves-grey btn-flat right" style="top: -45px;"><i class="material-icons">close</i></a>
              <div class="row">
                <form action="/account/<%=element._id%>?_method=PUT" method="POST">
                  <div class="input-field">
                    <input name = "action" type="hidden" placeholder = "Account Name" class="validate" required="" aria-required="true" value = "logout">
                  </div>
                  <div class="input-field col s6 offset-s3 left center" style="width: 50%;">
                    <input class="btn light-blue darken-4 white-text" value="Yes" type="submit">
                    <a class="modal-close btn light-blue darken-4 white-text">No</a>
                  </div>
                  </form>
                </div>
                <h6 id="warning" style="font-family:Roboto;" class="center red-text"></h6>
                  <script>
                    if((window.fullScreen) ||
               (window.innerWidth == screen.width && window.innerHeight == screen.height)) {
                 console.log("FullScreen");
            }else{
              document.getElementById('warning').innerHTML = "Warning<br>Pressing YES Will Close All The Tabs!<br>Close The Current Tab Instead By Pressing CTRL+W";
            }
                  </script>
            </div>
                
            
            <div id = "chperiod" class="modal white">
              <h5 class="header center light-blue-text text-darken-4" style="font-family:Roboto;">Change Period</h5>
  <a class="modal-close waves-effect waves-grey btn-flat right" style="top: -45px;"><i class="material-icons">close</i></a>
  <div class="row">
    <form action="/account/chart?_method=PUT" method="POST">
      <div class="input-field">
        <input name = "id" type="hidden" class="validate" required="" aria-required="true" value = "<%=element._id %>">
      </div>
      <div class="input-field col s5 offset-s1 center">
        <select name = "month" class="browser-default" style="margin-top:7px;">
        <%for(i = 0;i < 12;i++){%>
        <option value="<%=i+1%>" <%= month == i?'selected':''%>><%=monthCart[i]%></option>
      <%}%>
      </select>
      </div>
      <%
      yearCart = []
    count = new Date().getUTCFullYear() - element.tcreate.getUTCFullYear()
    for(i = 0;i<=count;i++){
      yearCart.push(new Date().getUTCFullYear()-i)
    }
      %>
      
      <div class="input-field col s5 center">
        <select name = "year" class="browser-default" style="margin-top:7px;">
        <%yearCart.forEach(year => {%>
        <option value="<%=year%>"><%=year%> </option>
      <%})%>
      </select>
      </div>
      <div class="input-field col s6 offset-s3 left center" style="width: 50%;">
        <input class="btn light-blue darken-4 white-text" value="CHANGE" type="submit">
      </div>
      </form>
    </div>

  </div>            
<div id = "balcm" class="modal white">
    <h5 class="header center purple-text text-darken-1" style="font-family:Roboto;">Balance (<%=monthCart[month]%>)</h5>
  <hr width="85%">
    <canvas id="balcmch"></canvas>
  </div>
  <div id = "balcy" class="modal white">
    <h5 class="header center purple-text text-darken-1" style="font-family:Roboto;">Balance (<%=year%>)</h5>
  <hr width="85%">
    <canvas id="balcych"></canvas>
  </div>
  <div id = "balcl" class="modal white">
    <h5 class="header center purple-text text-darken-1" style="font-family:Roboto;">Balance (LifeTime)</h5>
  <hr width="85%">
    <canvas id="balclch"></canvas>
  </div>
  <div id = "exdiscm" class="modal white">
    <h5 class="header center green-text text-darken-4" style="font-family:Roboto;">Expenses (<%=monthCart[month]%>)</h5>
  <hr width="85%">
    <canvas id="exdiscmch"></canvas>
  </div>
  <div id = "exdiscy" class="modal white">
    <h5 class="header center green-text text-darken-4" style="font-family:Roboto;">Expenses (<%=year%>)</h5>
  <hr width="85%">
    <canvas id="exdiscych"></canvas>
  </div>
  <div id = "cashflowy" class="modal white">
    <h5 class="header center red-text text-darken-4" style="font-family:Roboto;">Cashflow (<%=year%>)</h5>
  <hr width="85%">
    <canvas id="cashflowych"></canvas>
  </div>
  <div id = "cashflow" class="modal white">
    <h5 class="header center red-text text-darken-4" style="font-family:Roboto;">Cashflow (LifeTime)</h5>
  <hr width="85%">
    <canvas id="cashflowch"></canvas>
  </div>
  <div id = "cashflowc" class="modal white">
    <h5 class="header center red-text text-darken-4" style="font-family:Roboto;">Cashflow (Comparison)</h5>
  <hr width="85%">
    <canvas id="cashflowcch"></canvas>
  </div>
  <div id = "income" class="modal white">
    <h5 class="header center amber-text text-darken-3" style="font-family:Roboto;">Income (LifeTime)</h5>
  <hr width="85%">
    <canvas id="incomech"></canvas>
  </div>
  <div id = "expense" class="modal white">
    <h5 class="header center green-text text-darken-4" style="font-family:Roboto;">Expenses (LifeTime)</h5>
  <hr width="85%">
    <canvas id="expensech"></canvas>
  </div>
  <div id = "incomecy" class="modal white">
    <h5 class="header center amber-text text-darken-3" style="font-family:Roboto;">Income (<%=year%>)</h5>
  <hr width="85%">
    <canvas id="incomecych"></canvas>
  </div>
  <div id = "incomecm" class="modal white">
    <h5 class="header center amber-text text-darken-3" style="font-family:Roboto;">Income (<%=monthCart[month]%>)</h5>
  <hr width="85%">
    <canvas id="incomecmch"></canvas>
  </div>
  <div id = "invret" class="modal white">
    <h5 class="header center light-blue-text text-darken-4" style="font-family:Roboto;">InvRet (Comparison)</h5>
  <hr width="85%">
    <canvas id="invretch"></canvas>
  </div>
  <div id = "invcat" class="modal white">
    <h5 class="header center light-blue-text text-darken-4" style="font-family:Roboto;">Asset Categories</h5>
  <hr width="85%">
    <canvas id="invcatch"></canvas>
  </div>
  <div id = "equicat" class="modal white">
    <h5 class="header center light-blue-text text-darken-4" style="font-family:Roboto;">Equity Categories</h5>
  <hr width="85%">
    <canvas id="equicatch"></canvas>
  </div>
  <div id = "ctransactionm" class="modal white">
    <h5 class="header center pink-text text-darken-1" style="font-family:Roboto;">Categorywise Transactions (<%=monthCart[month]%>)</h5>
  <hr width="85%">
    <canvas id="ctransactionmch"></canvas>
  </div>
  <div id = "ctransactiony" class="modal white">
    <h5 class="header center pink-text text-darken-1" style="font-family:Roboto;">Categorywise Transactions (<%=year%>)</h5>
  <hr width="85%">
    <canvas id="ctransactionych"></canvas>
  </div>
  <div id = "ctransaction" class="modal white">
    <h5 class="header center pink-text text-darken-1" style="font-family:Roboto;">Categorywise Transactions (LifeTime)</h5>
  <hr width="85%">
    <canvas id="ctransactionch"></canvas>
  </div>
  <div id = "ptransactiony" class="modal white">
    <h5 class="header center pink-text text-darken-1" style="font-family:Roboto;">Periodwise Transactions (<%=year%>)</h5>
  <hr width="85%">
    <canvas id="ptransactionych"></canvas>
  </div>
  <div id = "ptransaction" class="modal white">
    <h5 class="header center pink-text text-darken-1" style="font-family:Roboto;">Periodwise Transactions (LifeTime)</h5>
  <hr width="85%">
    <canvas id="ptransactionch"></canvas>
  </div>
  <div id = "incomecat" class="modal white">
    <h5 class="header center amber-text text-darken-3" style="font-family:Roboto;">Income</h5>
  <hr width="85%">
  <div class="row">
      <div class="col s4 center">
        <a data-toggle="modal" class="modal-trigger btn amber darken-3" href="#incomecm">Income (<%=monthCart[month]%>)</a>
      </div>
      <div class="col s4 center">
        <a data-toggle="modal" class="modal-trigger btn amber darken-3" href="#incomecy">Income (<%=year%>)</a>
      </div>
      <div class="col s4 center">
        <a data-toggle="modal" class="modal-trigger btn amber darken-3" href="#income">Income (LifeTime)</a>
      </div>       
    </div>
    
  </div>
  <div id = "expensecat" class="modal white">
    <h5 class="header center green-text text-darken-4" style="font-family:Roboto;">Expenses</h5>
  <hr width="85%">

  <div class="row">
      <div class="col s4 center">
        <a data-toggle="modal" class="modal-trigger btn green darken-4" href="#exdiscm">Expenses (<%=monthCart[month]%>)</a>
      </div>
      <div class="col s4 center">
        <a data-toggle="modal" class="modal-trigger btn green darken-4" href="#exdiscy">Expenses (<%=year%>)</a>
      </div>
      <div class="col s4 center">
        <a data-toggle="modal" class="modal-trigger btn green darken-4" href="#expense">Expenses (LifeTime)</a>
      </div>  
    </div>
  </div>
  <div id = "balancecat" class="modal white">
    <h5 class="header center purple-text text-darken-1" style="font-family:Roboto;">Balance</h5>
  <hr width="85%">
  <div class="row">
      <div class="col s4 center">
        <a data-toggle="modal" class="modal-trigger btn purple darken-1" href="#balcm">Balance (<%=monthCart[month]%>)</a>
      </div>
      <div class="col s4 center">
        <a data-toggle="modal" class="modal-trigger btn purple darken-1" href="#balcy">Balance (<%=year%>)</a>
      </div>
      <div class="col s4 center">
        <a data-toggle="modal" class="modal-trigger btn purple darken-1" href="#balcl">Balance (LifeTime)</a>
      </div>
      </div>
    
  </div>
  <div id = "cashflowcat" class="modal white">
    <h5 class="header center red-text text-darken-4" style="font-family:Roboto;">Cashflow</h5>
  <hr width="85%">
  <div class="row">
        <div class="col s4 center">
        <a data-toggle="modal" class="modal-trigger btn red darken-4" href="#cashflowy">Cashflow (<%=year%>)</a>
      </div>
      <div class="col s4 center">
        <a data-toggle="modal" class="modal-trigger btn red darken-4" href="#cashflow">Cashflow (LifeTime)</a>
      </div>
      <div class="col s4 center">
        <a data-toggle="modal" class="modal-trigger btn red darken-4" href="#cashflowc">Cashflow (Comparison)</a>
      </div>
    </div>
  </div>

  <div id = "transactions" class="modal white">
    <h5 class="header center pink-text text-darken-1" style="font-family:Roboto;">Transactions</h5>
  <hr width="85%">
  <div class="row">
    <div class="col s4 center">
      <a data-toggle="modal" class="modal-trigger btn pink darken-1" href="#ctransactionm">Categorywise (<%=monthCart[month]%>)</a>
    </div>
        <div class="col s4 center">
        <a data-toggle="modal" class="modal-trigger btn pink darken-1" href="#ctransactiony">Categorywise (<%=year%>)</a>
      </div>
      <div class="col s4 center">
        <a data-toggle="modal" class="modal-trigger btn pink darken-1" href="#ctransaction">Categorywise (LifeTime)</a>
      </div>
    </div>
    <div class="row">
          <div class="col s6 center">
          <a data-toggle="modal" class="modal-trigger btn pink darken-1" href="#ptransactiony">Periodwise (<%=year%>)</a>
        </div>
        <div class="col s6 center">
          <a data-toggle="modal" class="modal-trigger btn pink darken-1" href="#ptransaction">Periodwise (LifeTime)</a>
        </div>
      </div>
  </div>
  
  <div id = "assetscat" class="modal white">
    <h5 class="header center light-blue-text text-darken-4" style="font-family:Roboto;">Assets</h5>
  <hr width="85%">
  <div class="row">
    
      <div class="col s6 center">
        <a data-toggle="modal" class="modal-trigger btn light-blue darken-4" href="#invcat">Asset Cart</a>
      </div>
      <div class="col s6 center">
        <a data-toggle="modal" class="modal-trigger btn light-blue darken-4" href="#invret">Inv-Ret Compare</a>
        </div>
     <!-- <div class="col s4 center">
        <a data-toggle="modal" class="modal-trigger btn light-blue darken-4" href="#equicat">Equity Cart</a>
        </div>-->
        
      
        
      </div>
    </div>
    <div class="row">
      
    </div>
  </div>

  <div class = "container">
    <div class="row">
     
      <div class="col s2 offset-s1 center">
        <a data-toggle="modal" class="modal-trigger btn green darken-4" href="#expensecat">Expenses</a>
      </div>
      <div class="col s2 center">
        <a data-toggle="modal" class="modal-trigger btn amber darken-3" href="#incomecat">Income</a>
      </div>
      <div class="col s2 center">
        <a data-toggle="modal" class="modal-trigger btn light-blue darken-4" href="#assetscat">Assets</a>
      </div> 
      <div class="col s2 center">
        <a data-toggle="modal" class="modal-trigger btn purple darken-1" href="#balancecat">Balance</a>
      </div> 
      <div class="col s2 center">
        <a data-toggle="modal" class="modal-trigger btn red darken-4" href="#cashflowcat">Cashflow</a>
      </div> 
     
    </div>
    <div class="row">
     
      <!--<div class="col s3 offset-s1 center">
        <a data-toggle="modal" class="modal-trigger btn cyan" href="#expensedist">Expense Distribution</a>
      </div>-->
      <div class="col s12 center">
        <a data-toggle="modal" class="modal-trigger btn pink darken-1" href="#transactions">Transactions</a>
      </div> 
      <!--<div class="col s3 offset-s1 center">
        <a data-toggle="modal" class="modal-trigger btn teal" href="#incomedist">Income Distribution</a>
      </div>-->
       
    </div>
    
  </div>
  
  
  <!--<script type = "text/javascript">
    var ctx = document.getElementById('equicatch').getContext('2d');
    share = []
    ticker = []
    color = []
    "<%element.asset.filter(entry => (entry.isActive == true && entry.category.includes('Equity'))).forEach(entry => {%>"
    if(!ticker.includes("<%=entry.description%>")){
      ticker.push("<%=entry.description%>")
      share.push(0)
      r = Math.floor(Math.random() * 200);
      g = Math.floor(Math.random() * 200);
      b = Math.floor(Math.random() * 200);
      color.push('rgb(' + r + ', ' + g + ', ' + b + ')')
    }
    if(ticker.includes("<%=entry.description%>")){
      i = ticker.indexOf("<%=entry.description%>")
      share[i] += parseFloat("<%=entry.amount*1.00%>")
    }
    "<%})%>"
    
var chart = new Chart(ctx, {
type: 'doughnut',
data: {
    labels: ticker,
    datasets: [{
        data: share,
        backgroundColor: color,
    }]
},
});
    </script>-->
  <script type = "text/javascript">
    var ctx = document.getElementById('invcatch').getContext('2d');
    investment = []
    sector = []
    color = []
    "<%element.asset.forEach(entry => {%>"
    if(!sector.includes("<%=entry.category%>")){
      sector.push("<%=entry.category%>")
      investment.push(0)
      r = Math.floor(Math.random() * 200);
      g = Math.floor(Math.random() * 200);
      b = Math.floor(Math.random() * 200);
      color.push('rgb(' + r + ', ' + g + ', ' + b + ')')
    }
    if(sector.includes("<%=entry.category%>")){
      i = sector.indexOf("<%=entry.category%>")
      investment[i] += parseFloat("<%=entry.amount*1.00%>")
    }
    "<%})%>"
    
var chart = new Chart(ctx, {
type: 'doughnut',
data: {
    labels: sector,
    datasets: [{
        data: investment,
        backgroundColor: color,
    }]
},
});
    </script>
  <script type = "text/javascript">
    var ctx = document.getElementById('invretch').getContext('2d');
    investment = 0
    value = 0
    "<%element.asset.filter(entry => entry.isActive == true && entry.category != 'Extra Charge').forEach(entry => {%>"
    investment += parseFloat("<%=entry.amount%>")
    if("<%=entry.category%>" == "Equity"){
      "<%index = stockList.indexOf(entry.description)%>"
      "<%index = parseFloat(index)%>"
      value += parseFloat("<%=stockValues[index]*entry.units%>")
    }
    else if("<%=entry.category%>" == "Gold"){
      value += parseFloat("<%=entry.units*priceGold%>")
    }
    else if("<%=entry.category%>" == "Silver"){
      value += parseFloat("<%=entry.units*priceSilver%>")
    }
    else if("<%=entry.category%>" == "Extra Charge"){
      value += 0
    }
    else{
      value += parseFloat("<%=entry.amount%>")
    }
    "<%})%>"
    investment = investment.toFixed(2)
    value = value.toFixed(2)
    returns = (value-investment).toFixed(2)
    if(returns > 0){
      returnsColor = '#00c853'
    }else{
      returnsColor = '#d50000'
    }
    
var chart = new Chart(ctx, {
type: 'bar',
data: {
    labels: [''],
    datasets: [
      {
        label: 'Investment',
        stack: 1,
        backgroundColor: '#ff9800',
        //lineTension:0,
        fill:false,
        data: [investment],
    },{
        label: 'Value',
        stack: 2,
        backgroundColor: '#0d47a1',
        //lineTension:0,
        fill:false,
        data: [value],
    },
    {
        label: 'Returns',
        stack: 3,
        backgroundColor: returnsColor,
        //lineTension:0,
        fill:false,
        data: [returns],
    }
    ]
},
options: {
  scales:{
    yAxes:[{
      
      stacked:true,
      scaleLabel: {
        display: true,
        labelString: 'Amount'
      }
    }],
    xAxes:[{
      
      stacked:true,
      
    }]
  }
}
});
    </script>

<script type = "text/javascript">
  var ctx = document.getElementById('ctransactionmch').getContext('2d');
  balance = []
  category = []
  color = []
  "<%element.activity.filter(entry => (((entry.isActive == true)) && (month == entry.tstamp.getMonth() && year == entry.tstamp.getUTCFullYear()))).forEach(entry => {%>"
  
  if(!category.includes("<%=entry.category%>")){
    category.push("<%=entry.category%>")
    balance.push(0)
    r = Math.floor(Math.random() * 200);
    g = Math.floor(Math.random() * 200);
    b = Math.floor(Math.random() * 200);
    color.push('rgb(' + r + ', ' + g + ', ' + b + ')')
  }
  if(category.includes("<%=entry.category%>")){
    i = category.indexOf("<%=entry.category%>")
    balance[i] += 1
  }
  "<%})%>"
var chart = new Chart(ctx, {
type: 'doughnut',
data: {
  labels: category,
  datasets: [{
      data: balance,
      backgroundColor: color,
  }]
},
});
  </script>
  <script type = "text/javascript">
    var ctx = document.getElementById('incomecmch').getContext('2d');
    balance = []
    category = []
    color = []
    "<%element.activity.filter(entry => (((entry.isActive == true && !entry.isexpense) && !entry.category.includes('Credit')) && (month == entry.tstamp.getMonth() && year == entry.tstamp.getUTCFullYear()))).forEach(entry => {%>"
    
    if(!category.includes("<%=entry.category%>")){
      category.push("<%=entry.category%>")
      balance.push(0)
      r = Math.floor(Math.random() * 200);
      g = Math.floor(Math.random() * 200);
      b = Math.floor(Math.random() * 200);
      color.push('rgb(' + r + ', ' + g + ', ' + b + ')')
    }
    if(category.includes("<%=entry.category%>")){
      i = category.indexOf("<%=entry.category%>")
      balance[i] += parseFloat("<%=entry.amount*1.00%>")
    }
    "<%})%>"
var chart = new Chart(ctx, {
type: 'doughnut',
data: {
    labels: category,
    datasets: [{
        data: balance,
        backgroundColor: color,
    }]
},
});
    </script>
  <script type = "text/javascript">
    var ctx = document.getElementById('incomecych').getContext('2d');
    balance = []
    category = []
    color = []
    "<%element.activity.filter(entry => (((entry.isActive == true && !entry.isexpense) && !entry.category.includes('Credit')) && (year == entry.tstamp.getUTCFullYear()))).forEach(entry => {%>"
    
    if(!category.includes("<%=entry.category%>")){
      category.push("<%=entry.category%>")
      balance.push(0)
      r = Math.floor(Math.random() * 200);
      g = Math.floor(Math.random() * 200);
      b = Math.floor(Math.random() * 200);
      color.push('rgb(' + r + ', ' + g + ', ' + b + ')')
    }
    if(category.includes("<%=entry.category%>")){
      i = category.indexOf("<%=entry.category%>")
      balance[i] += parseFloat("<%=entry.amount*1.00%>")
    }
    "<%})%>"
   
    
    
var chart = new Chart(ctx, {
type: 'doughnut',
data: {
    labels: category,
    datasets: [{
        data: balance,
        backgroundColor: color,
    }]
},
});
    </script>
    <script type = "text/javascript">
      var ctx = document.getElementById('ctransactionch').getContext('2d');
      balance = []
      category = []
      color = []
      "<%element.activity.filter(entry => (((entry.isActive == true)))).forEach(entry => {%>"
      
      if(!category.includes("<%=entry.category%>")){
        category.push("<%=entry.category%>")
        balance.push(0)
        r = Math.floor(Math.random() * 200);
        g = Math.floor(Math.random() * 200);
        b = Math.floor(Math.random() * 200);
        color.push('rgb(' + r + ', ' + g + ', ' + b + ')')
      }
      if(category.includes("<%=entry.category%>")){
        i = category.indexOf("<%=entry.category%>")
        balance[i] += 1
      }
      "<%})%>"
     
      
      
  var chart = new Chart(ctx, {
  type: 'doughnut',
  data: {
      labels: category,
      datasets: [{
          data: balance,
          backgroundColor: color,
      }]
  },
  });
      </script>
  <script type = "text/javascript">
    var ctx = document.getElementById('ctransactionych').getContext('2d');
    balance = []
    category = []
    color = []
    "<%element.activity.filter(entry => (((entry.isActive == true)) && (year == entry.tstamp.getUTCFullYear()))).forEach(entry => {%>"
    
    if(!category.includes("<%=entry.category%>")){
      category.push("<%=entry.category%>")
      balance.push(0)
      r = Math.floor(Math.random() * 200);
      g = Math.floor(Math.random() * 200);
      b = Math.floor(Math.random() * 200);
      color.push('rgb(' + r + ', ' + g + ', ' + b + ')')
    }
    if(category.includes("<%=entry.category%>")){
      i = category.indexOf("<%=entry.category%>")
      balance[i] += 1
    }
    "<%})%>"
   
    
    
var chart = new Chart(ctx, {
type: 'doughnut',
data: {
    labels: category,
    datasets: [{
        data: balance,
        backgroundColor: color,
    }]
},
});
    </script>
  <script type = "text/javascript">
    var ctx = document.getElementById('expensech').getContext('2d');
    "<%if(element.tcreate.getUTCFullYear() == 2021 && element.tcreate.getMonth() == 10 && element.tcreate.getDate() == 12){%>"
    balance = [parseFloat("<%=element.uexpense%>")]
    category = ['Unaccounted']
    color = []
    r = Math.floor(Math.random() * 200);
      g = Math.floor(Math.random() * 200);
      b = Math.floor(Math.random() * 200);
      color.push('rgb(' + r + ', ' + g + ', ' + b + ')')
    "<%}else{%>"
    balance = []
    category = []
    color = []
    "<%}%>"
    "<%element.activity.filter(entry => (((entry.isActive == true && entry.isexpense) && !entry.category.includes('Debit')))).forEach(entry => {%>"
    
    if(!category.includes("<%=entry.category%>")){
      category.push("<%=entry.category%>")
      balance.push(0)
      r = Math.floor(Math.random() * 200);
      g = Math.floor(Math.random() * 200);
      b = Math.floor(Math.random() * 200);
      color.push('rgb(' + r + ', ' + g + ', ' + b + ')')
    }
    if(category.includes("<%=entry.category%>")){
      i = category.indexOf("<%=entry.category%>")
      balance[i] += parseFloat("<%=entry.amount*-1.00%>")
    }
    "<%})%>"
   
    
    
var chart = new Chart(ctx, {
type: 'doughnut',
data: {
    labels: category,
    datasets: [{
        data: balance,
        backgroundColor: color,
    }]
},
});
    </script>
    
  <script type = "text/javascript">
    var ctx = document.getElementById('incomech').getContext('2d');
    "<%if(element.tcreate.getUTCFullYear() == 2021 && element.tcreate.getMonth() == 10 && element.tcreate.getDate() == 12){%>"
    balance = [parseFloat("<%=element.uincome%>")]
    category = ['Unaccounted']
    color = []
    r = Math.floor(Math.random() * 200);
      g = Math.floor(Math.random() * 200);
      b = Math.floor(Math.random() * 200);
      color.push('rgb(' + r + ', ' + g + ', ' + b + ')')
    "<%}else{%>"
    balance = []
    category = []
    color = []
    "<%}%>"
    "<%element.activity.filter(entry => (((entry.isActive == true && !entry.isexpense) && !entry.category.includes('Credit')))).forEach(entry => {%>"
    
    if(!category.includes("<%=entry.category%>")){
      category.push("<%=entry.category%>")
      balance.push(0)
      r = Math.floor(Math.random() * 200);
      g = Math.floor(Math.random() * 200);
      b = Math.floor(Math.random() * 200);
      color.push('rgb(' + r + ', ' + g + ', ' + b + ')')
    }
    if(category.includes("<%=entry.category%>")){
      i = category.indexOf("<%=entry.category%>")
      balance[i] += parseFloat("<%=entry.amount*1.00%>")
    }
    "<%})%>"
   
    
    
var chart = new Chart(ctx, {
type: 'doughnut',
data: {
    labels: category,
    datasets: [{
        data: balance,
        backgroundColor: color,
    }]
},

});
    </script>
  <script type = "text/javascript">
    var ctx = document.getElementById('cashflowcch').getContext('2d');
    investment = 0
    "<%element.activity.filter(entry => (((entry.isActive == true && entry.isexpense) && entry.category.includes('Investment')))).forEach(entry => {%>"
    investment += parseFloat("<%=entry.amount*-1.00%>")
    "<%})%>"
    investment = parseFloat(investment).toFixed(2)
    income = parseFloat("<%=element.income%>")
    expense = parseFloat("<%=element.expense%>")
    income = income.toFixed(2)
      expense = expense.toFixed(2)
      balance = income-expense
      balance = balance.toFixed(2)
      //expense -= investment
      worth = parseFloat("<%=element.transum+element.onhold+assetsWorth-element.debt%>")
var chart = new Chart(ctx, {
type: 'bar',
data: {
    labels: [''],
    datasets: [
       {
        label: 'Income',
        stack: 1,
        backgroundColor: '#ff9800',
        //lineTension:0,
        fill:false,
        data: [income],
    },
    {
        label: 'Savings',
        stack: 0,
        backgroundColor: '#0d47a1',
        //lineTension:0,
        fill:false,
        data: [balance],
    },
    {
        label: 'Expense',
        stack: 0,
        backgroundColor: '#00c853',
        //lineTension:0,
        fill:false,
        data: [expense],
    },
    {
        label: 'Networth',
        stack: 2,
        backgroundColor: '#ffeb3b',
        //lineTension:0,
        fill:false,
        data: [worth],
    },
    {
        label: 'Investment',
        stack: 3,
        backgroundColor: '#9c27b0',
        //lineTension:0,
        fill:false,
        data: [investment],
    }
    ]
},
options: {
  scales:{
    yAxes:[{
      
      stacked:true,
      scaleLabel: {
        display: true,
        labelString: 'Amount'
      }
    }],
    xAxes:[{
      
      stacked:true,
      
    }]
  }
}
});
    </script>

    
  <script type = "text/javascript">
    year = []
    balance = []
    income = []
    expense = []
    investment = []
    length = new Date().getUTCFullYear() - parseFloat("<%=element.tcreate.getUTCFullYear()-1%>")
    for(i = 0; i <= length;i++){
      balance.push(0)
      income.push(0)
      expense.push(0)
      investment.push(0)
      year.push(new Date().getUTCFullYear()-i)
    }
    year = year.reverse()
    var ctx = document.getElementById('cashflowch').getContext('2d');
    
    "<%element.activity.filter(entry => (((entry.isActive == true && !entry.isexpense) && !entry.category.includes('Credit')))).forEach(entry => {%>"
    income["<%=entry.tstamp.getUTCFullYear()-element.tcreate.getUTCFullYear()+1%>"] += parseFloat("<%=entry.amount%>")
    "<%})%>"
    "<%element.activity.filter(entry => (((entry.isActive == true && entry.isexpense) && (!entry.category.includes('Investment') && !entry.category.includes('Debit'))))).forEach(entry => {%>"
    expense["<%=entry.tstamp.getUTCFullYear()-element.tcreate.getUTCFullYear()+1%>"] += parseFloat("<%=entry.amount*-1.00%>")
    "<%})%>"
    "<%element.activity.filter(entry => (((entry.isActive == true && entry.isexpense) && entry.category.includes('Investment')))).forEach(entry => {%>"
    investment["<%=entry.tstamp.getUTCFullYear()-element.tcreate.getUTCFullYear()+1%>"] += parseFloat("<%=entry.amount*-1.00%>")
    "<%})%>"
    for(i=0;i<balance.length;i++) {
      income[i] = income[i].toFixed(2)
      expense[i] = expense[i].toFixed(2)
      investment[i] = investment[i].toFixed(2)
      balance[i] = income[i]-expense[i]-investment[i]
      balance[i] = balance[i].toFixed(2)
      if(balance[i] < 0){
        balance[i] = 0.00
      }
    }
   
var chart = new Chart(ctx, {
type: 'line',
data: {
    labels: year,
    datasets: [
      {
        label: 'Credit',
        borderColor: '#ff9800',
        //lineTension:0,
        fill:false,
        radius:0,
        data: income,
    },{
        label: 'Investment',
        borderColor: '#9c27b0',
        //lineTension:0,
        fill:false,
        radius:0,
        data: investment,
    },
    {
        label: 'Debit',
        borderColor: '#00c853',
        //lineTension:0,
        fill:false,
        radius:0,
        data: expense,
    }
    ,{
        label: 'Savings',
        borderColor: '#0d47a1',
        //lineTension:0,
        fill:false,
        radius:0,
        data: balance,
    }]
},
options: {
  responsive: true,
				tooltips: {
					mode: 'index',
					intersect: false,
				},
				hover: {
					mode: 'nearest',
					intersect: true
				},
  scales:{
    yAxes:[{
      scaleLabel: {
        display: true,
        labelString: 'Amount'
      }
    }],
    xAxes:[{
      scaleLabel: {
        display: true,
        labelString: 'Year'
      }
    }]
  }
}
});
    </script>

<script type = "text/javascript">
  year = []
  balance = []
  ebalance = []
  ibalance = []
  abalance = []
  length = new Date().getUTCFullYear() - parseFloat("<%=element.tcreate.getUTCFullYear()-1%>")
  for(i = 0; i <= length;i++){
    balance.push(0)
    ebalance.push(0)
    ibalance.push(0)
    abalance.push(0)
    year.push(new Date().getUTCFullYear()-i)
  }
  year = year.reverse()
  var ctx = document.getElementById('ptransactionch').getContext('2d');
  
  "<%element.activity.filter(entry => (((entry.isActive == true)))).forEach(entry => {%>"
  balance["<%=entry.tstamp.getUTCFullYear()-element.tcreate.getUTCFullYear()+1%>"] += 1
  "<%if(entry.isexpense && entry.category != 'Investment'){%>"
  ebalance["<%=entry.tstamp.getUTCFullYear()-element.tcreate.getUTCFullYear()+1%>"] += 1
  "<%}if(entry.isexpense && entry.category == 'Investment'){%>"
  abalance["<%=entry.tstamp.getUTCFullYear()-element.tcreate.getUTCFullYear()+1%>"] += 1
  "<%}if(!entry.isexpense){%>"
  ibalance["<%=entry.tstamp.getUTCFullYear()-element.tcreate.getUTCFullYear()+1%>"] += 1
  "<%}%>"
  "<%})%>"
var chart = new Chart(ctx, {
type: 'line',
data: {
  labels: year,
  datasets: [
    {
      label: 'Transaction Count',
      borderColor: '#d81b60',
      lineTension:0,
      fill:false,
      radius:0,
      data: balance,
  },{
      label: 'Income Count',
      borderColor: '#00c853',
      lineTension:0,
      fill:false,
      radius:0,
      data: ibalance,
  },{
      label: 'Expense Count',
      borderColor: '#ff9800',
      lineTension:0,
      fill:false,
      radius:0,
      data: ebalance,
  },{
      label: 'Investment Count',
      borderColor: '#1976d2 ',
      lineTension:0,
      fill:false,
      radius:0,
      data: abalance,
  }]
},
options: {
responsive: true,
      tooltips: {
        mode: 'index',
        intersect: false,
      },
      hover: {
        mode: 'nearest',
        intersect: true
      },
scales:{
  yAxes:[{
    scaleLabel: {
      display: true,
      labelString: 'Count'
    }
  }],
  xAxes:[{
    scaleLabel: {
      display: true,
      labelString: 'Year'
    }
  }]
}
}
});
  </script>

<script type = "text/javascript">
  var ctx = document.getElementById('ptransactionych').getContext('2d');
  balance = [0,0,0,0,0,0,0,0,0,0,0,0]
  ibalance = [0,0,0,0,0,0,0,0,0,0,0,0]
  ebalance = [0,0,0,0,0,0,0,0,0,0,0,0]
  abalance = [0,0,0,0,0,0,0,0,0,0,0,0]
  month = ["January","February","March","April","May","June","July","August","September","October","November","December"]
  "<%element.activity.filter(entry => (((entry.isActive == true)) && year == entry.tstamp.getUTCFullYear())).forEach(entry => {%>"
  balance["<%=entry.tstamp.getMonth()%>"] += 1
  "<%if(entry.isexpense && entry.category != 'Investment'){%>"
  ebalance["<%=entry.tstamp.getMonth()%>"] += 1
  "<%}if(entry.isexpense && entry.category == 'Investment'){%>"
  abalance["<%=entry.tstamp.getMonth()%>"] += 1
  "<%}if(!entry.isexpense){%>"
  ibalance["<%=entry.tstamp.getMonth()%>"] += 1
  "<%}%>"
  "<%})%>"
  
var chart = new Chart(ctx, {
type: 'line',
data: {
  labels: month,
  datasets: [{
      label: 'Transaction Count',
      borderColor: '#d81b60',
      lineTension:0,
      fill:false,
      radius:0,
      data: balance,
  },{
      label: 'Income Count',
      borderColor: '#00c853',
      lineTension:0,
      fill:false,
      radius:0,
      data: ibalance,
  },{
      label: 'Expense Count',
      borderColor: '#ff9800',
      lineTension:0,
      fill:false,
      radius:0,
      data: ebalance,
  },{
      label: 'Investment Count',
      borderColor: '#1976d2',
      lineTension:0,
      fill:false,
      radius:0,
      data: abalance,
  }
  ]
},
options: {
responsive: true,
      tooltips: {
        mode: 'index',
        intersect: false,
      },
      hover: {
        mode: 'nearest',
        intersect: true
      },
scales:{
  yAxes:[{
    scaleLabel: {
      display: true,
      labelString: 'Count'
    }
  }],
  xAxes:[{
    scaleLabel: {
      display: true,
      labelString: 'Month'
    }
  }]
}
}
});
  </script>

  <script type = "text/javascript">
    var ctx = document.getElementById('cashflowych').getContext('2d');
    balance = [0,0,0,0,0,0,0,0,0,0,0,0]
    income = [0,0,0,0,0,0,0,0,0,0,0,0]
    expense = [0,0,0,0,0,0,0,0,0,0,0,0]
    investment = [0,0,0,0,0,0,0,0,0,0,0,0]
    month = ["January","February","March","April","May","June","July","August","September","October","November","December"]
    "<%element.activity.filter(entry => (((entry.isActive == true && !entry.isexpense) && !entry.category.includes('Credit')) && year == entry.tstamp.getUTCFullYear())).forEach(entry => {%>"
    income["<%=entry.tstamp.getMonth()%>"] += parseFloat("<%=entry.amount%>")
    "<%})%>"
    "<%element.activity.filter(entry => (((entry.isActive == true && entry.isexpense) && (!entry.category.includes('Investment') && !entry.category.includes('Debit'))) && year == entry.tstamp.getUTCFullYear())).forEach(entry => {%>"
    expense["<%=entry.tstamp.getMonth()%>"] += parseFloat("<%=entry.amount*-1.00%>")
    "<%})%>"
    
    "<%element.activity.filter(entry => (((entry.isActive == true && entry.isexpense) && entry.category.includes('Investment')) && year == entry.tstamp.getUTCFullYear())).forEach(entry => {%>"
    investment["<%=entry.tstamp.getMonth()%>"] += parseFloat("<%=entry.amount*-1.00%>")
    "<%})%>"
    
    for(i=0;i<balance.length;i++) {
      income[i] = income[i].toFixed(2)
      expense[i] = expense[i].toFixed(2)
      investment[i] = investment[i].toFixed(2)
      balance[i] = income[i]-expense[i]-investment[i]
      balance[i] = balance[i].toFixed(2)
      if(balance[i] < 0){
        balance[i] = 0.00
      }
    }
var chart = new Chart(ctx, {
type: 'line',
data: {
    labels: month,
    datasets: [
      {
        label: 'Credit',
        borderColor: '#ff9800',
        //lineTension:0,
        fill:false,
        radius:0,
        data: income,
    },{
        label: 'Investment',
        borderColor: '#9c27b0',
        //lineTension:0,
        fill:false,
        radius:0,
        data: investment,
    },{
        label: 'Debit',
        borderColor: '#00c853',
        //lineTension:0,
        fill:false,
        radius:0,
        data: expense,
    }
    ,{
        label: 'Savings',
        borderColor: '#0d47a1',
        //lineTension:0,
        fill:false,
        radius:0,
        data: balance,
    }]
},
options: {
  responsive: true,
				tooltips: {
					mode: 'index',
					intersect: false,
				},
				hover: {
					mode: 'nearest',
					intersect: true
				},
  scales:{
    yAxes:[{
      scaleLabel: {
        display: true,
        labelString: 'Amount'
      }
    }],
    xAxes:[{
      scaleLabel: {
        display: true,
        labelString: 'Month'
      }
    }]
  }
}
});
    </script>

  <script type = "text/javascript">
    var ctx = document.getElementById('exdiscmch').getContext('2d');
    balance = []
    category = []
    color = []
    "<%element.activity.filter(entry => (((entry.isActive == true && entry.isexpense) && !entry.category.includes('Debit')) && (month == entry.tstamp.getMonth() && year == entry.tstamp.getUTCFullYear()))).forEach(entry => {%>"
    
    if(!category.includes("<%=entry.category%>")){
      category.push("<%=entry.category%>")
      balance.push(0)
      r = Math.floor(Math.random() * 200);
      g = Math.floor(Math.random() * 200);
      b = Math.floor(Math.random() * 200);
      color.push('rgb(' + r + ', ' + g + ', ' + b + ')')
    }
    if(category.includes("<%=entry.category%>")){
      i = category.indexOf("<%=entry.category%>")
      balance[i] += parseFloat("<%=entry.amount*-1.00%>")
    }
    "<%})%>"
   
    
    
var chart = new Chart(ctx, {
type: 'doughnut',
data: {
    labels: category,
    datasets: [{
        data: balance,
        backgroundColor: color,
    }]
},
});
    </script>

  <script type = "text/javascript">
    var ctx = document.getElementById('exdiscych').getContext('2d');
    balance = []
    category = []
    color = []
    "<%element.activity.filter(entry => (((entry.isActive == true && entry.isexpense) && !entry.category.includes('Debit')) && year == entry.tstamp.getUTCFullYear())).forEach(entry => {%>"  
    if(!category.includes("<%=entry.category%>")){
      category.push("<%=entry.category%>")
      balance.push(0)
      r = Math.floor(Math.random() * 200);
      g = Math.floor(Math.random() * 200);
      b = Math.floor(Math.random() * 200);
      color.push('rgb(' + r + ', ' + g + ', ' + b + ')')
    }
    if(category.includes("<%=entry.category%>")){
      i = category.indexOf("<%=entry.category%>")
      balance[i] += parseFloat("<%=entry.amount*-1.00%>")
    }
    "<%})%>"
   
    
    
var chart = new Chart(ctx, {
type: 'doughnut',
data: {
    labels: category,
    datasets: [{
        data: balance,
        backgroundColor: color,
    }]
},
});
    </script>
    <script type = "text/javascript">
      var ctx = document.getElementById('balclch').getContext('2d');
      balance = []
      actualBalance = []
      points = []
      amounts = []
      counter = 1
      onholdBalance = []
      moneyOnHold = [0]
      trend = []
      
      "<%element.activity.forEach(entry => {%>"
      
      balance.push("<%=entry.postranbal%>")
      amounts.push("<%=entry.amount%>")
      points.push(counter)
      counter++;
      tlast = "<%=entry.postranbal%>"
      
      /*if("<%=entry.category%>" == 'Debit')
      {
        li = moneyOnHold.length-1
        value = moneyOnHold[li]
        moneyOnHold.push(value+parseFloat("<%=entry.amount*-1.00%>"))
      }
      if("<%=entry.category%>" == 'Credit')
      {
        li = moneyOnHold.length-1
        value = moneyOnHold[li]
        moneyOnHold.push(value-parseFloat("<%=entry.amount%>"))
      }
      lo = moneyOnHold.length-1
      if("<%=year%>" == "<%=entry.tstamp.getUTCFullYear()%>"){
      actualBalance.push(parseFloat("<%=entry.postranbal%>")-moneyOnHold[lo])
      onholdBalance.push(moneyOnHold[lo])
      }*/
      "<%})%>"     
      tinit = parseFloat(balance[0])
      tlast = parseFloat(tlast)
      step = (tlast-tinit)/(balance.length-1)
      //step = (355000-300000)/(11-1)
      if(tlast > tinit){
        trendColor = "#43a047"
        for(i = tinit;i<=tlast;i=i+step){
        trend.push(i) 
      }
      }
      else{
        trendColor = "#e53935"
        for(i = tinit;i>=tlast;i=i+step){
        trend.push(i) 
      } 
      }
      trend.push(tlast)
      
  var chart = new Chart(ctx, {
  type: 'line',
  data: {
      labels: points,
      datasets: [{
          label: 'Balance',
          borderColor: '#000000',
          //lineTension:0,
          fill:false,
          radius:0,
          data: balance,
      },
      {
          label: 'Amount',
          borderColor: '#009688',
          //lineTension:0,
          fill:false,
          radius:0,
          data: amounts,
          
      },
      {
          label: 'Trend',
          borderColor: trendColor,
          //lineTension:0,
          fill:false,
          radius:0,
          data: trend,
          
      }

      /*,
      {
          label: 'Actual Balance',
          borderColor: '#0d47a1',
          //lineTension:0,
          fill:false,
          radius:0,
          data: actualBalance,
          hidden: true
      },
      {
          label: 'On Hold',
          borderColor: '#ff5722',
          //lineTension:0,
          fill:false,
          radius:0,
          data: onholdBalance,
          hidden: true
      }*/
    ]
  },
  options: {
    responsive: true,
          tooltips: {
            mode: 'index',
            intersect: false,
          },
          hover: {
            mode: 'nearest',
            intersect: true
          },
    scales:{
      yAxes:[{
        scaleLabel: {
          display: true,
          labelString: 'Amount'
        }
      }],
      xAxes:[{
        scaleLabel: {
          display: true,
          labelString: 'Transaction Count'
        }
      }]
    }
  }
  });
      </script>
  <script type = "text/javascript">
    var ctx = document.getElementById('balcych').getContext('2d');
    balance = []
    actualBalance = []
    points = []
    amounts = []
    counter = 1
    onholdBalance = []
    moneyOnHold = [0]
    trend = []
      
    "<%element.activity.filter(entry => (entry.isActive == true && year == entry.tstamp.getUTCFullYear())).forEach(entry => {%>"
    if("<%=year%>" == "<%=entry.tstamp.getUTCFullYear()%>"){
    balance.push("<%=entry.postranbal%>")
    amounts.push("<%=entry.amount%>")
    tlast = "<%=entry.postranbal%>"
    }
    if("<%=entry.category%>" == 'Debit')
    {
      li = moneyOnHold.length-1
      value = moneyOnHold[li]
      moneyOnHold.push(value+parseFloat("<%=entry.amount*-1.00%>"))
    }
    if("<%=entry.category%>" == 'Credit')
    {
      li = moneyOnHold.length-1
      value = moneyOnHold[li]
      moneyOnHold.push(value-parseFloat("<%=entry.amount%>"))
    }
    lo = moneyOnHold.length-1
    if("<%=year%>" == "<%=entry.tstamp.getUTCFullYear()%>"){
    actualBalance.push(parseFloat("<%=entry.postranbal%>")-moneyOnHold[lo])
    onholdBalance.push(moneyOnHold[lo])
    points.push(counter)
    counter++;
    }
    "<%})%>"
    tinit = parseFloat(balance[0])
      tlast = parseFloat(tlast)
      step = (tlast-tinit)/(balance.length-1)
      //step = (355000-300000)/(11-1)
      if(tlast > tinit){
        trendColor = "#43a047"
        for(i = tinit;i<=tlast;i=i+step){
        trend.push(i) 
      }
      }
      else{
        trendColor = "#e53935"
        for(i = tinit;i>=tlast;i=i+step){
        trend.push(i) 
      } 
      }
      
      
var chart = new Chart(ctx, {
type: 'line',
data: {
    labels: points,
    datasets: [{
        label: 'Balance',
        borderColor: '#000000',
        //lineTension:0,
        fill:false,
        radius:0,
        data: balance,
    },
    {
        label: 'Actual Balance',
        borderColor: '#0d47a1',
        //lineTension:0,
        fill:false,
        radius:0,
        data: actualBalance,
        hidden: true
    },
    {
        label: 'On Hold',
        borderColor: '#ff5722',
        //lineTension:0,
        fill:false,
        radius:0,
        data: onholdBalance,
        hidden: true
    },
    {
        label: 'Amount',
        borderColor: '#009688',
        //lineTension:0,
        fill:false,
        radius:0,
        data: amounts,
        
    },
      {
          label: 'Trend',
          borderColor: trendColor,
          //lineTension:0,
          fill:false,
          radius:0,
          data: trend,
          
      }
  ]
},
options: {
  responsive: true,
				tooltips: {
					mode: 'index',
					intersect: false,
				},
				hover: {
					mode: 'nearest',
					intersect: true
				},
  scales:{
    yAxes:[{
      scaleLabel: {
        display: true,
        labelString: 'Amount'
      }
    }],
    xAxes:[{
      scaleLabel: {
        display: true,
        labelString: 'Transaction Count'
      }
    }]
  }
}
});
    </script>

<script type = "text/javascript">
    var ctx = document.getElementById('balcmch').getContext('2d');
    balance = []
    points = []
    amounts = []
    actualBalance = []
    counter = 1
    onholdBalance = []
    moneyOnHold = [0]
    isDebit = false
    trend = []
      
    "<%element.activity.filter(entry => (entry.category == 'Credit' || entry.category == 'Debit' || (entry.isActive == true && (month == entry.tstamp.getMonth() && year == entry.tstamp.getUTCFullYear())))).forEach(entry => {%>"
    if("<%=month%>" == "<%=entry.tstamp.getMonth()%>"){
    balance.push("<%=entry.postranbal%>")
    amounts.push("<%=entry.amount%>")
    tlast = "<%=entry.postranbal%>"
    }
    if("<%=entry.category%>" == 'Debit')
    {
      li = moneyOnHold.length-1
      value = moneyOnHold[li]
      moneyOnHold.push(value+parseFloat("<%=entry.amount*-1.00%>"))
    }
    if("<%=entry.category%>" == 'Credit')
    {
      li = moneyOnHold.length-1
      value = moneyOnHold[li]
      moneyOnHold.push(value-parseFloat("<%=entry.amount%>"))
      
    }
    
    lo = moneyOnHold.length-1
    if("<%=month%>" == "<%=entry.tstamp.getMonth()%>"){
    actualBalance.push(parseFloat("<%=entry.postranbal%>")-moneyOnHold[lo])
    onholdBalance.push(moneyOnHold[lo])
    points.push(counter)
    counter++;
    }
    "<%})%>"
    tinit = parseFloat(balance[0])
      tlast = parseFloat(tlast)
      step = (tlast-tinit)/(balance.length-1)
      //step = (355000-300000)/(11-1)
      if(tlast > tinit){
        trendColor = "#43a047"
        for(i = tinit;i<=tlast;i=i+step){
        trend.push(i) 
      }
      }
      else{
        trendColor = "#e53935"
        for(i = tinit;i>=tlast;i=i+step){
        trend.push(i) 
      } 
      }
    
var chart = new Chart(ctx, {
type: 'line',
data: {
    labels: points,
    datasets: [{
        label: 'Balances',
        borderColor: '#000000',
        //backgroundColor:'#2962ff',
        //steppedLine:'true',
        //lineTension:0,
        fill:false,
        radius:0,
        data: balance,
        
    },
    {
        label: 'Actual Balance',
        borderColor: '#0d47a1',
        //lineTension:0,
        fill:false,
        radius:0,
        data: actualBalance,
        hidden: true
    },
    {
        label: 'On Hold',
        borderColor: '#ff5722',
        //lineTension:0,
        fill:false,
        radius:0,
        data: onholdBalance,
        hidden: true
    },
    {
        label: 'Amount',
        borderColor: '#009688',
        //lineTension:0,
        fill:false,
        radius:0,
        data: amounts,
        
    },
      {
          label: 'Trend',
          borderColor: trendColor,
          //lineTension:0,
          fill:false,
          radius:0,
          data: trend,
          
      }]
},
options: {
  responsive: true,
				tooltips: {
					mode: 'index',
					intersect: false,
				},
				hover: {
					mode: 'nearest',
					intersect: true
				},
  scales:{
    yAxes:[{
      scaleLabel: {
        display: true,
        labelString: 'Amount'
      }
    }],
    xAxes:[{
      scaleLabel: {
        display: true,
        labelString: 'Transaction Count'
      }
    }]
  }
}
});
    </script>
    <%})%>
  
