<% account.forEach(element => { %>
  <%investment = 0
 element.activity.filter(entry => (((entry.isActive == true && entry.isexpense) && entry.category.includes('Investment')))).forEach(entry => {
 investment += parseFloat(entry.amount*-1.00)
 })%>
  <%
  transactionCount = 0
  monthlyIncome = 0
  monthlyExpense = 0
  monthlyInvested = 0
   element.activity.filter(entry => (entry.isActive == true && (month == entry.tstamp.getMonth() && year  == entry.tstamp.getUTCFullYear()))).forEach(entry => {
     transactionCount += 1
     if(!entry.isexpense && (!entry.category.includes('Debit') && !entry.category.includes('Credit')))
     {
       monthlyIncome += entry.amount
     }
     else if(entry.isexpense && (!entry.category.includes('Debit') && !entry.category.includes('Investment') && !entry.category.includes('Credit'))){
       monthlyExpense += entry.amount
     }
     else if(entry.isexpense && (entry.category.includes('Investment'))){
       monthlyInvested += entry.amount*-1.00
     }
  })

  yearlyIncome = 0
  yearlyExpense = 0
  yearlyInvested = 0
  element.activity.filter(entry => ((entry.isActive == true && (!entry.category.includes('Debit','Credit'))) && (year == entry.tstamp.getUTCFullYear()))).forEach(entry => {
     
    if(!entry.isexpense && (!entry.category.includes('Debit') && !entry.category.includes('Credit')))
     {
       yearlyIncome += entry.amount
     }
     else if(entry.isexpense && (!entry.category.includes('Debit') && !entry.category.includes('Investment') && !entry.category.includes('Credit'))){
       yearlyExpense += entry.amount
     }
     else if(entry.isexpense && (entry.category.includes('Investment'))){
       yearlyInvested += entry.amount*-1.00
     }
  })
  %>  

<style>
  .modal { overflow: visible; }
.modal-body { overflow-y: visible !important; }
.income:hover span {display:none}
.income:hover:before {content:"100%"}
.invested:hover span {display:none}
.invested:hover:before {content:"<%=((investment)*100/element.income).toFixed(2)%>%"}
.expense:hover span {display:none}
.expense:hover:before {content:"<%=((element.expense)*100/element.income).toFixed(2)%>%"}
.balance:hover span {display:none}
.balance:hover:before {content:"<%=(100 - element.expense*100/element.income).toFixed(2)%>%"}
.monthlyincome:hover span {display:none}
.monthlyincome:hover:before {content:"100%"}
.monthlyinvested:hover span {display:none}
.monthlyinvested:hover:before {content:"<%=(monthlyIncome+monthlyExpense<=0?0.00:(monthlyInvested)*100/monthlyIncome).toFixed(2)%>%"}
.monthlyexpense:hover span {display:none}
.monthlyexpense:hover:before {content:"<%=(monthlyIncome+monthlyExpense<=0.00?0.00:(monthlyExpense*-100/monthlyIncome)).toFixed(2)%>%"}
.monthlybalance:hover span {display:none}
.monthlybalance:hover:before {content:"<%=(monthlyIncome+monthlyExpense<=0.00?0.00:(100 - (monthlyExpense-monthlyInvested)*-100/monthlyIncome)).toFixed(2)%>%"}
.yearlyincome:hover span {display:none}
.yearlyincome:hover:before {content:"100%"}
.yearlyinvested:hover span {display:none}
.yearlyinvested:hover:before {content:"<%=(yearlyIncome+yearlyExpense<=0.00?0.00:(yearlyInvested)*100/yearlyIncome).toFixed(2)%>%"}
.yearlyexpense:hover span {display:none}
.yearlyexpense:hover:before {content:"<%=(yearlyIncome+yearlyExpense<=0.00?0.00:(yearlyExpense*-100/yearlyIncome)).toFixed(2)%>%"}
.yearlybalance:hover span {display:none}
.yearlybalance:hover:before {content:"<%=(yearlyIncome+yearlyExpense<=0.00?0.00:(100 - (yearlyExpense-yearlyInvested)*-100/yearlyIncome)).toFixed(2)%>%"}

</style>
 
    <%
    const monthCart = ["January","February","March","April","May","June","July","August","September","October","November","December"]
    const stockList = tickerStocks
  const stockValues = priceStocks
    %>
   <%
   const formatter = new Intl.NumberFormat('en-US', {
   style: 'currency',
   currency: element.currency,
   minimumFractionDigits: 2
   })
   const formatterDashboard = new Intl.NumberFormat('en-US', {
   style: 'currency',
   currency: element.currency,
   notation: "compact",
     compactDisplay: "short"
   })
   %>
  <div class="fixed-action-btn">
  <%      
            link = '/'+year+'/'+parseFloat(month+1)
            if(month == (new Date().getMonth()) && year == (new Date().getUTCFullYear())){
              link = ''
            }
      %>
  <a class="btn-floating btn-large light-blue darken-4 pulse">
    <i class="large material-icons">app_registration</i>
  </a>
  <ul>
    <li><a title="Change Period" data-toggle="modal" href="#chperiod" class="btn-floating red modal-trigger"><i class="material-icons">today</i></a></li>
    <li><a title="Search" href="/account/<%=element._id%>/search" class="btn-floating teal modal-trigger"><i class="material-icons">search</i></a></li>    
    <li><a title="Chart Analytics" href="/account/<%=element._id%>/chart<%=link%>" class="btn-floating purple darken-1 modal-trigger"><i class="material-icons">analytics</i></a></li>
    <li><a title="Pivot Tables" href="/account/<%=element._id%>/pivots<%=link%>" class="btn-floating pink accent-3 modal-trigger"><i class="material-icons">pivot_table_chart</i></a></li>
    <li><a title="Asset Management" href="/account/<%=element._id%>/assets" class="btn-floating orange modal-trigger"><i class="material-icons">account_balance</i></a></li>   
  </ul>
</div>
  <div class="section white" >
  <div class="row" style="margin-bottom: -10px;">
    <div class="col s1 left">
      <%
          link = element._id
          if(month != new Date().getMonth())
          {
            link = '../../'+element._id+'/'+year+'/'+parseFloat(month+1)
          }
      %>
      <a title = "Home" class="btn-floating btn-medium waves-effect waves-light blue darken-4" href="../<%=link%>"><i class="material-icons">roofing</i></a>
    </div>
  <div class="col s11">
          <h2 class="header center blue-text text-darken-4" style="font-family:Roboto; margin-bottom: -10px; margin-top: 0px; margin-right: 120px;">Stats for <%=element.name%></h2>
    </div>
          
    </div>
  </div>
  
  <div class="container">
    <% 
    assetsWorth = 0
    element.asset.filter(entry => entry.isActive == true).forEach(entry => {
      if(entry.category == "Gold"){
        assetPrice = priceGold*entry.units                  
      }
      else if(entry.category == "Silver"){
        assetPrice = priceSilver*entry.units
      }
      else if(entry.category == "Equity"){
        position = stockList.indexOf(entry.description)
        assetPrice = stockValues[position]*entry.units
      }
      else if(entry.category == "Extra Charge"){
        assetPrice = 0
      }
      else{
        assetPrice = entry.tape*entry.units
      }
      assetsWorth += assetPrice
    })%>
    <div class="row">
      <div class="col s6" style="margin-bottom: -15px;">
        <div class="progress green lighten-4 tooltipped" data-position="left" data-tooltip="<%=((element.transum+element.onhold+assetsWorth-element.debt)/element.dnw*100).toFixed(2)%>% Goal Completed<br><%= formatterDashboard.format(element.transum+element.onhold+assetsWorth-element.debt)%> of <%=formatterDashboard.format(element.dnw)%>">
          <div class="determinate green darken-4" style=<%="width:"+(element.transum+element.onhold+assetsWorth-element.debt)/element.dnw*100+"%"%>></div>
      </div>
        </div>
        <div class="col s6" style="margin-bottom: -15px;">
          <%
            tday = new Date()
            bday = element.dob
            diff = Math.abs(tday - bday)
            diff = Math.ceil(diff / (1000 * 60 * 60 * 24)); 
            years = diff/365.25
            rdiff = element.aor*365.25
            percgoal = diff*100/rdiff
          %>
          <div class="progress red lighten-4 tooltipped" data-position="right" data-tooltip="<%=percgoal.toFixed(2)%>% Time Finished<br><%=years.toFixed(2)%> of <%=element.aor%> Years">
            <div class="determinate red darken-4" style=<%="width:"+ percgoal +"%"%>></div>
        </div>
          </div>
      </div>
  
              <table class="striped centered responsive-table"style="margin-top:-30px">   
                        <thead>
                          <tr>
                            <th>Networth</th>
                            <th>Debt</th>
                            <th class = "income"><span>Income</span></th>
                            <th class = "expense"><span>Expense</span></th>
                              <th class = "invested"><span>Invested</span></th>
                              <th class = "balance"><span>Balance</span></th>
                              <th>Transactions</th>
                              <th>On Hold</th>
                              <th>Variance</th>
                              
                          </tr>
                        </thead>
                        <tbody>
                         
                                  
                          <tr style="font-weight:500;">
                            <td class="tooltipped" data-position="bottom" data-tooltip="<%=formatter.format(element.transum+element.onhold+assetsWorth-element.debt)%>"><%= formatterDashboard.format(element.transum+element.onhold+assetsWorth-element.debt)%></td>
                            <td data-position="bottom" data-tooltip="<%=formatter.format(element.debt)%>" class="tooltipped" ><%= formatterDashboard.format(element.debt)%></td>
                            <td data-position="bottom" data-tooltip="<%=formatter.format(element.income)%>" class = "tooltipped green-text text-darken-1"><%= formatterDashboard.format(element.income)%>&#9650;</td>
                            <td data-position="bottom" data-tooltip="<%=formatter.format(element.expense)%>" class = "tooltipped red-text text-darken-1"><%= formatterDashboard.format(element.expense)%>&#x25bc;</td>
                            <td data-position="bottom" data-tooltip="<%=formatter.format(investment)%>" class="tooltipped" ><%=formatterDashboard.format(investment)%></td>
                            <td data-position="bottom" data-tooltip="<%=formatter.format(element.currbal)%>" class="tooltipped" ><%= formatterDashboard.format(element.currbal)%></td>
                            <td data-position="bottom" data-tooltip="<%=formatter.format(element.transum)%>" class="tooltipped" ><%= formatterDashboard.format(element.transum)%></td>
                            <td data-position="bottom" data-tooltip="<%=formatter.format(element.onhold)%>" class="tooltipped" ><%= formatterDashboard.format(element.onhold)%></td>
                            <% variance = element.currbal-(element.transum+element.onhold)
                              if (variance < 0 && variance > -0.01)
                              {
                                variance *= -1.00
                              }
                            %>
                            <td data-position="bottom" data-tooltip="<%=formatter.format(variance)%>" class="tooltipped" ><%= formatterDashboard.format(variance)%></td>
                            
                           
                            
                          </tr>
                        </tbody>
                      </table>
               
            </div>
             
  
                
                 
              
               
              
              
          <div class="container">
            <div class="row">
              <div class="col s6">
                <table class="striped centered responsive-table">
                  <thead>
                            <tr>
                                <th><%=monthCart[month]%>
                      <hr>
                      </th>                    
                            </tr>
                          </thead>
                          <tbody>
                <table class="striped centered responsive-table" style="margin-top:-30px">      
                          <thead>
                            <tr>
                              <th class = "monthlyincome"><span>Income</span></th>
                              <th class = "monthlyexpense"><span>Expense</span></th>
                              <th class = "monthlyinvested"><span>Invested</span></th>
                              <th class = "monthlybalance"><span>Savings</span></th>
                            </tr>
                          </thead>
                          <tbody>
    
                                    
                            <tr style="font-weight:500;">
                              
                              <td class = "green-text text-darken-1"><%= formatter.format(monthlyIncome)%>&#9650;</td>
                              <td class = "red-text text-darken-1"><%= formatter.format((monthlyExpense == 0)?monthlyExpense:monthlyExpense*-1)%>&#x25bc;</td>
                              <td><%= formatter.format(monthlyInvested)%></td>
                              <td><%= formatter.format(monthlyIncome+monthlyExpense>0?monthlyIncome+monthlyExpense-monthlyInvested:0.00)%></td>
                             
                              
                            </tr>
                          </tbody>
                        </table>
                      </tbody>
                      </table>
              </div>
              <div class="col s6">
                <table class="striped centered responsive-table">
                  <thead>
                            <tr>
                                <th><%=year%>
                      <hr>
                      </th>                    
                            </tr>
                          </thead>
                          <tbody>
                <table class="striped centered responsive-table" style="margin-top:-30px">      
                          <thead>
                            <tr>
                              <th class = "yearlyincome"><span>Income</span></th>
                              <th class = "yearlyexpense"><span>Expense</span></th>
                              <th class = "yearlyinvested"><span>Invested</span></th>
                              <th class = "yearlybalance"><span>Savings</span></th>
                            </tr>
                          </thead>
                          <tbody>
    
                                    
                            <tr style="font-weight:500;">
                              
                              <td class = "green-text text-darken-1"><%= formatter.format(yearlyIncome)%>&#9650;</td>
                              <td class = "red-text text-darken-1"><%= formatter.format((yearlyExpense == 0)?yearlyExpense:yearlyExpense*-1)%>&#x25bc;</td>
                              <td><%= formatter.format(yearlyInvested)%></td>
                              <td><%= formatter.format(yearlyIncome+yearlyExpense>0?yearlyIncome+yearlyExpense-yearlyInvested:0.00)%></td>
                             
                              
                            </tr>
                          </tbody>
                        </table>
                      </tbody>
                      </table>
              </div>
            </div>
                 
              </div>

              <h4 class = "center" >This account was created on <script type="text/javascript">
                document.write(moment(new Date("<%=element.tcreate%>"),"ddd MMM DD YYYY HH:MM:SS ZZ").format("ddd DD MMM, YYYY")) 
           </script></h4>
 
           <div class = "container">
            <div class = "row">
              <div class = "col s4">
                <div class="card-panel white">
                  <div class="row">
                    <div class = "col s3"><img src="<%=relative%>images/income.png" class="circle responsive-img" style="width:50px; height:50px"></div>
                    <div class="col s8"><span class="black-text" style="font-size:128%">
                      Greatest Income 
                      <%
                  bigLifeAmount = 0
                  bigLifeCategory = ""
                  bigLifeDate = ""
                  element.activity.filter(entry => (((entry.isActive == true && !entry.isexpense) && (!entry.category.includes('Credit'))))).forEach(entry => {
                    if(entry.amount > bigLifeAmount){
                      bigLifeAmount = entry.amount
                      bigLifeCategory = entry.category
                      bigLifeDate = entry.tstamp
                    }
                  })

                  %>
                      <p style = "margin-top: 0%;"><%=formatter.format(bigLifeAmount)%></p>
                      <p style = "margin-top: -13%;"><%=bigLifeCategory%></p>
                      <p style = "margin-top: -13%;"><script type="text/javascript">
                        document.write(moment(new Date("<%=bigLifeDate%>"),"ddd MMM DD YYYY HH:MM:SS ZZ").format("ddd DD MMM, YYYY")) 
                   </script></p>
                    </span>
                  </div>
                  <div class="col s1">
                    <span class="black-text tooltipped" data-position="right" data-tooltip="It shows<br>the greatest amount received<br>in the mentioned period." style="font-size: 18px;">	&#x1f6c8;</span>
                  </div>
                  </div>
                  <div class="row" style="margin-top:0%;">
                    <div class = "col s5">
                      <%
                  bigMonthAmount = 0
                  bigMonthCategory = ""
                  bigMonthDate = ""
                  element.activity.filter(entry => (((entry.isActive == true && !entry.isexpense) && (!entry.category.includes('Credit') && (year == entry.tstamp.getUTCFullYear()&& month == entry.tstamp.getMonth()))))).forEach(entry => {
                    if(entry.amount > bigMonthAmount){
                      bigMonthAmount = entry.amount
                      bigMonthCategory = entry.category
                      bigMonthDate = entry.tstamp
                    }
                  })

                  %>
                      <span class="black-text" style="font-size: 18px;"><%=monthCart[month]%>
                        <%if(bigMonthAmount == 0){%>
                          <p style = "margin-top: 0%;">No Income</p>
                        <%}else{%>
                          <p style = "margin-top: 0%;"><%=formatter.format(bigMonthAmount)%></p>
                        <p style = "margin-top: -13%;"><%=bigMonthCategory%></p>
                      <p style = "margin-top: -13%;"><script type="text/javascript">
                        document.write(moment(new Date("<%=bigMonthDate%>"),"ddd MMM DD YYYY HH:MM:SS ZZ").format("ddd, MMM DD")) 
                   </script></p>
                          <%}%>
                      </span>
                    </div>
                    <div class = "col s5 offset-s2">
                      <%
                  bigYearAmount = 0
                  bigYearCategory = ""
                  bigYearDate = ""
                  element.activity.filter(entry => (((entry.isActive == true && !entry.isexpense) && (!entry.category.includes('Credit') && (year == entry.tstamp.getUTCFullYear()))))).forEach(entry => {
                    if(entry.amount > bigYearAmount){
                      bigYearAmount = entry.amount
                      bigYearCategory = entry.category
                      bigYearDate = entry.tstamp
                    }
                  })

                  %>
                      <span class="black-text" style="font-size: 18px;">	<%=year%>
                        <%if(bigYearAmount == 0){%>
                          <p style = "margin-top: 0%;">No Income</p>
                        <%}else{%>
                        <p style = "margin-top: 0%;"><%=formatter.format(bigYearAmount)%></p>
                        <p style = "margin-top: -13%;"><%=bigYearCategory%></p>
                      <p style = "margin-top: -13%;"><script type="text/javascript">
                        document.write(moment(new Date("<%=bigYearDate%>"),"ddd MMM DD YYYY HH:MM:SS ZZ").format("ddd, MMM DD")) 
                   </script></p>
                   <%}%>
                      </span>
                    </div>
                  </div>
                </div>
              </div>

              <%if(element.expense > 0){%>
                <div class = "col s4">
                  <div class="card-panel white">
                    <div class="row">
                      <div class = "col s3"><img src="<%=relative%>images/expense.png" class="circle responsive-img" style="width:50px; height:50px"></div>
                      <div class="col s8"><span class="black-text" style="font-size:128%">
                        Biggest Expense
                        <%
                    smallLifeAmount = 0
                    smallLifeCategory = ""
                    smallLifeDate = ""
                    element.activity.filter(entry => (((entry.isActive == true && entry.isexpense) && (!entry.category.includes('Debit') && !entry.category.includes('Investment'))))).forEach(entry => {
                      if(entry.amount < smallLifeAmount){
                        smallLifeAmount = entry.amount
                        smallLifeCategory = entry.category
                        smallLifeDate = entry.tstamp
                      }
                    })
  
                    %>
                        <p style = "margin-top: 0%;"><%=formatter.format(-1.00*smallLifeAmount)%></p>
                        <p style = "margin-top: -13%;"><%=smallLifeCategory%></p>
                        <p style = "margin-top: -13%;"><script type="text/javascript">
                          document.write(moment(new Date("<%=smallLifeDate%>"),"ddd MMM DD YYYY HH:MM:SS ZZ").format("ddd DD MMM, YYYY")) 
                     </script></p>
                      </span>
                    </div>
                    <div class="col s1">
                      <span class="black-text tooltipped" data-position="right" data-tooltip="It shows<br>the biggest amount exhausted<br>in the mentioned period." style="font-size: 18px;">	&#x1f6c8;</span>
                    </div>
                    </div>
                    <div class="row" style="margin-top:0%;">
                      <div class = "col s5">
                        <%
                    smallMonthAmount = 0
                    smallMonthCategory = ""
                    smallMonthDate = ""
                    element.activity.filter(entry => (((entry.isActive == true && entry.isexpense) && (year == entry.tstamp.getUTCFullYear()&& month == entry.tstamp.getMonth()) && (!entry.category.includes('Debit') && !entry.category.includes('Investment'))))).forEach(entry => {
                      if(entry.amount < smallMonthAmount){
                        smallMonthAmount = entry.amount
                        smallMonthCategory = entry.category
                        smallMonthDate = entry.tstamp
                      }
                    })
  
                    %>
                        <span class="black-text" style="font-size: 18px;"><%=monthCart[month]%>
                          <%if(smallMonthAmount == 0){%>
                            <p style = "margin-top: 0%;">No Expense</p>
                          <%}else{%>
                          <p style = "margin-top: 0%;"><%=formatter.format(-1.00*smallMonthAmount)%></p>
                          <p style = "margin-top: -13%;"><%=smallMonthCategory%></p>
                        <p style = "margin-top: -13%;"><script type="text/javascript">
                          document.write(moment(new Date("<%=smallMonthDate%>"),"ddd MMM DD YYYY HH:MM:SS ZZ").format("ddd, MMM DD")) 
                     </script></p>
                     <%}%>
                        </span>
                      </div>
                      <div class = "col s5 offset-s2">
                        <%
                        smallYearAmount = 0
                        smallYearCategory = ""
                        smallYearDate = ""
                        element.activity.filter(entry => (((entry.isActive == true && entry.isexpense) && (year == entry.tstamp.getUTCFullYear()) && (!entry.category.includes('Debit') && !entry.category.includes('Investment'))))).forEach(entry => {
                          if(entry.amount < smallYearAmount){
                            smallYearAmount = entry.amount
                            smallYearCategory = entry.category
                            smallYearDate = entry.tstamp
                          }
                        })
      
                        %>
                        <span class="black-text" style="font-size: 18px;">	<%=year%>
                          <%if(smallYearAmount == 0){%>
                            <p style = "margin-top: 0%;">No Expense</p>
                          <%}else{%>
                          <p style = "margin-top: 0%;"><%=formatter.format(-1.00*smallYearAmount)%></p>
                          <p style = "margin-top: -13%;"><%=smallYearCategory%></p>
                        <p style = "margin-top: -13%;"><script type="text/javascript">
                          document.write(moment(new Date("<%=smallYearDate%>"),"ddd MMM DD YYYY HH:MM:SS ZZ").format("ddd, MMM DD")) 
                     </script></p>
                     <%}%>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              <%}%>
              <%if(investment > 0){%>
                <div class = "col s4">
                  <div class="card-panel white">
                    <div class="row">
                      <div class = "col s3"><img src="<%=relative%>images/wealth.png" class="circle responsive-img" style="width:50px; height:50px"></div>
                      <div class="col s8"><span class="black-text" style="font-size:128%">
                        Greatest Investment
                        <%
                        investedLifeAmount = 0
                        investedLifeCategory = ""
                      investedLifeDate = ""
                        element.activity.filter(entry => (((entry.isActive == true) && (entry.category.includes('Investment'))))).forEach(entry => {
                          if(entry.amount < investedLifeAmount){
                            investedLifeAmount = entry.amount
                            matchCriteria = /\s(\w+)$/g;
                            investedLifeCategory = entry.description.match(matchCriteria)
                            investedLifeDate = entry.tstamp
                          }
                        })
      
                        %>
                        <p style = "margin-top: 0%;"><%=formatter.format(-1.00*investedLifeAmount)%></p>
                        <p style = "margin-top: -13%;"><%=investedLifeCategory%></p>
                        <p style = "margin-top: -13%;"><script type="text/javascript">
                          document.write(moment(new Date("<%=investedLifeDate%>"),"ddd MMM DD YYYY HH:MM:SS ZZ").format("ddd DD MMM, YYYY")) 
                     </script></p>
                      </span>
                    </div>
                    <div class="col s1">
                      <span class="black-text tooltipped" data-position="right" data-tooltip="It shows<br>the greatest amount invested<br>in the mentioned period." style="font-size: 18px;">	&#x1f6c8;</span>
                    </div>
                    </div>
                    <div class="row" style="margin-top:0%;">
                      <div class = "col s5">
                        <%
                        investedMonthAmount = 0
                        investedMonthCategory = ""
                        investedMonthDate = ""
                        element.activity.filter(entry => (((entry.isActive == true) && (year == entry.tstamp.getUTCFullYear() && month == entry.tstamp.getMonth()) &&  (entry.category.includes('Investment'))))).forEach(entry => {
                          if(entry.amount < investedMonthAmount){
                            investedMonthAmount = entry.amount
                            matchCriteria = /\s(\w+)$/g;
                            investedMonthCategory = entry.description.match(matchCriteria)
                            investedMonthDate = entry.tstamp
                          }
                        })
                        %>
                        <span class="black-text" style="font-size: 18px;"><%=monthCart[month]%>
                          <%if(investedMonthAmount == 0){%>
                            <p style = "margin-top: 0%;">No Investment</p>
                          <%}else{%>
                          <p style = "margin-top: 0%;"><%=formatter.format(-1.00*investedMonthAmount)%></p>
                          <p style = "margin-top: -13%;"><%=investedMonthCategory%></p>
                        <p style = "margin-top: -13%;"><script type="text/javascript">
                          document.write(moment(new Date("<%=investedMonthDate%>"),"ddd MMM DD YYYY HH:MM:SS ZZ").format("ddd, MMM DD")) 
                     </script></p>
                     <%}%>
                        </span>
                      </div>
                      <div class = "col s5 offset-s2">
                        <%
                        investedYearAmount = 0
                        investedYearCategory = ""
                      investedYearDate = ""
                        element.activity.filter(entry => (((entry.isActive == true) && (year == entry.tstamp.getUTCFullYear()) &&  (entry.category.includes('Investment'))))).forEach(entry => {
                          if(entry.amount < investedYearAmount){
                            investedYearAmount = entry.amount
                            matchCriteria = /\s(\w+)$/g;
                            investedYearCategory = entry.description.match(matchCriteria)
                            investedYearDate = entry.tstamp
                          }
                        })
                        %>
                        <span class="black-text" style="font-size: 18px;">	<%=year%>
                          <%if(investedYearAmount == 0){%>
                            <p style = "margin-top: 0%;">No Investment</p>
                          <%}else{%>
                          <p style = "margin-top: 0%;"><%=formatter.format(-1.00*investedYearAmount)%></p>
                          <p style = "margin-top: -13%;"><%=investedYearCategory%></p>
                        <p style = "margin-top: -13%;"><script type="text/javascript">
                          document.write(moment(new Date("<%=investedYearDate%>"),"ddd MMM DD YYYY HH:MM:SS ZZ").format("ddd, MMM DD")) 
                     </script></p>
                     <%}%>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              <%}%>
              
            </div>
            
           </div>
              

              
              
              <div id = "chperiod" class="modal white">
                <h5 class="header center light-blue-text text-darken-4" style="font-family:Roboto;">Change Period</h5>
    <a class="modal-close waves-effect waves-grey btn-flat right" style="top: -45px;"><i class="material-icons">close</i></a>
    <div class="row">
      <form action="/account/stats?_method=PUT" method="POST">
        <div class="input-field">
          <input name = "id" type="hidden" class="validate" required="" aria-required="true" value = "<%=element._id %>">
        </div>
        <div class="input-field col s5 offset-s1 center">
          <select name = "month" class="browser-default" style="margin-top:7px;">
          <%for(i = 0;i < 12;i++){%>
          <option value="<%=i+1%>" <%= month == i?'selected':''%>><%=monthCart[i]%></option>
        <%}%>
        </select>
        </div>
        <%
        yearCart = []
      count = new Date().getUTCFullYear() - element.tcreate.getUTCFullYear()
      for(i = 0;i<=count;i++){
        yearCart.push(new Date().getUTCFullYear()-i)
      }
        %>
        
        <div class="input-field col s5 center">
          <select name = "year" class="browser-default" style="margin-top:7px;">
          <%yearCart.forEach(year => {%>
          <option value="<%=year%>"><%=year%> </option>
        <%})%>
        </select>
        </div>
        <div class="input-field col s6 offset-s3 left center" style="width: 50%;">
          <input class="btn light-blue darken-4 white-text" value="CHANGE" type="submit">
        </div>
        </form>
      </div>
    </div>            

    <%})%>