<% account.forEach(element => { %>
  <%investment = 0
 element.activity.filter(entry => (((entry.isActive == true && entry.isexpense) && entry.category.includes('Investment')))).forEach(entry => {
 investment += parseFloat(entry.amount*-1.00)
 })%>
  <%
  transactionCount = 0
  monthlyIncome = 0
  monthlyExpense = 0
  monthlyInvested = 0
   element.activity.filter(entry => (entry.isActive == true && (month == entry.tstamp.getMonth() && year  == entry.tstamp.getUTCFullYear()))).forEach(entry => {
     transactionCount += 1
     if(!entry.isexpense && (!entry.category.includes('Debit') && !entry.category.includes('Credit')))
     {
       monthlyIncome += entry.amount
     }
     else if(entry.isexpense && (!entry.category.includes('Debit') && !entry.category.includes('Investment') && !entry.category.includes('Credit'))){
       monthlyExpense += entry.amount
     }
     else if(entry.isexpense && (entry.category.includes('Investment'))){
       monthlyInvested += entry.amount*-1.00
     }
  })

  yearlyIncome = 0
  yearlyExpense = 0
  yearlyInvested = 0
  element.activity.filter(entry => ((entry.isActive == true && (!entry.category.includes('Debit','Credit'))) && (year == entry.tstamp.getUTCFullYear()))).forEach(entry => {
     
    if(!entry.isexpense && (!entry.category.includes('Debit') && !entry.category.includes('Credit')))
     {
       yearlyIncome += entry.amount
     }
     else if(entry.isexpense && (!entry.category.includes('Debit') && !entry.category.includes('Investment') && !entry.category.includes('Credit'))){
       yearlyExpense += entry.amount
     }
     else if(entry.isexpense && (entry.category.includes('Investment'))){
       yearlyInvested += entry.amount*-1.00
     }
  })
  %>  

<style>
  .modal { overflow: visible; }
.modal-body { overflow-y: visible !important; }
.income:hover span {display:none}
.income:hover:before {content:"100%"}
.invested:hover span {display:none}
.invested:hover:before {content:"<%=((investment)*100/element.income).toFixed(2)%>%"}
.expense:hover span {display:none}
.expense:hover:before {content:"<%=((element.expense-investment)*100/element.income).toFixed(2)%>%"}
.balance:hover span {display:none}
.balance:hover:before {content:"<%=(100 - element.expense*100/element.income).toFixed(2)%>%"}
.monthlyincome:hover span {display:none}
.monthlyincome:hover:before {content:"100%"}
.monthlyinvested:hover span {display:none}
.monthlyinvested:hover:before {content:"<%=(monthlyIncome+monthlyExpense<=0?0.00:(monthlyInvested)*100/monthlyIncome).toFixed(2)%>%"}
.monthlyexpense:hover span {display:none}
.monthlyexpense:hover:before {content:"<%=(monthlyIncome+monthlyExpense<=0.00?0.00:(monthlyExpense*-100/monthlyIncome)).toFixed(2)%>%"}
.monthlybalance:hover span {display:none}
.monthlybalance:hover:before {content:"<%=(monthlyIncome+monthlyExpense<=0.00?0.00:(100 - (monthlyExpense-monthlyInvested)*-100/monthlyIncome)).toFixed(2)%>%"}
.yearlyincome:hover span {display:none}
.yearlyincome:hover:before {content:"100%"}
.yearlyinvested:hover span {display:none}
.yearlyinvested:hover:before {content:"<%=(yearlyIncome+yearlyExpense<=0.00?0.00:(yearlyInvested)*100/yearlyIncome).toFixed(2)%>%"}
.yearlyexpense:hover span {display:none}
.yearlyexpense:hover:before {content:"<%=(yearlyIncome+yearlyExpense<=0.00?0.00:(yearlyExpense*-100/yearlyIncome)).toFixed(2)%>%"}
.yearlybalance:hover span {display:none}
.yearlybalance:hover:before {content:"<%=(yearlyIncome+yearlyExpense<=0.00?0.00:(100 - (yearlyExpense-yearlyInvested)*-100/yearlyIncome)).toFixed(2)%>%"}

</style>
 
    <%
    const monthCart = ["January","February","March","April","May","June","July","August","September","October","November","December"]
    const stockList = tickerStocks
  const stockValues = priceStocks
    %>
   <%
   const formatter = new Intl.NumberFormat('en-US', {
   style: 'currency',
   currency: element.currency,
   minimumFractionDigits: 2
   })
   const formatterDashboard = new Intl.NumberFormat('en-US', {
   style: 'currency',
   currency: element.currency,
   notation: "compact",
     compactDisplay: "short"
   })
   %>
  <div class="fixed-action-btn">
  <%      
            link = '/'+year+'/'+parseFloat(month+1)
            if(month == (new Date().getMonth()) && year == (new Date().getUTCFullYear())){
              link = ''
            }
      %>
  <a class="btn-floating btn-large light-blue darken-4">
    <i class="large material-icons">tune</i>
  </a>
  <ul>
    <li><a title="Change Period" data-toggle="modal" href="#chperiod" class="btn-floating red modal-trigger"><i class="material-icons">today</i></a></li>
    <li><a title="Chart Analytics" data-toggle="modal" href="/account/<%=element._id%>/chart<%=link%>" class="btn-floating purple darken-1 modal-trigger"><i class="material-icons">analytics</i></a></li>
    <li><a title="Pivot Tables" data-toggle="modal" href="/account/<%=element._id%>/pivots<%=link%>" class="btn-floating pink accent-3 modal-trigger"><i class="material-icons">pivot_table_chart</i></a></li>
    <li><a title="Asset Management" data-toggle="modal" href="/account/<%=element._id%>/assets" class="btn-floating orange modal-trigger"><i class="material-icons">account_balance</i></a></li>   
  </ul>
</div>
  <div class="section white" >
  <div class="row" style="margin-bottom: -10px;">
    <div class="col s1 left">
      <%
          link = element._id
          if(month != new Date().getMonth())
          {
            link = '../../'+element._id+'/'+year+'/'+parseFloat(month+1)
          }
      %>
      <a title = "Home" class="btn-floating btn-medium waves-effect waves-light blue darken-4" href="../<%=link%>"><i class="material-icons">roofing</i></a>
    </div>
  <div class="col s11">
          <h2 class="header center blue-text text-darken-4" style="font-family:Roboto; margin-top: 0px; margin-right: 100px;">Stats for <%=element.name%></h2>
    </div>
          
    </div>
      
      
    
  </div>
  
  
             
                <hr width="70%">
                <div class="container">
                    <table class="striped centered responsive-table"style="margin-top:-20px">      
                        <thead>
                          <tr>
                            <th>Networth</th>
                            <th>Debt</th>
                            <th class = "income"><span>Income</span></th>
                            <th class = "expense"><span>Expense</span></th>
                              <th class = "invested"><span>Invested</span></th>
                              <th class = "balance"><span>Balance</span></th>
                              <th>Transactions</th>
                              <th>On Hold</th>
                              <th>Variance</th>
                              
                          </tr>
                        </thead>
                        <tbody>
                          <% 
              assetsWorth = 0
              element.asset.filter(entry => entry.isActive == true).forEach(entry => {
                if(entry.category == "Gold"){
                  assetPrice = priceGold*entry.units                  
                }
                else if(entry.category == "Silver"){
                  assetPrice = priceSilver*entry.units
                }
                else if(entry.category == "Equity"){
                  position = stockList.indexOf(entry.description)
                  assetPrice = stockValues[position]*entry.units
                }
                else if(entry.category == "Extra Charge"){
                  assetPrice = 0
                }
                else{
                  assetPrice = entry.amount*entry.units
                }
                assetsWorth += assetPrice
              })%>
                                  
                                  <tr style="font-weight:500;">
                                    <td><%= formatterDashboard.format(element.transum+element.onhold+assetsWorth-element.debt)%></td>
                                    <td><%= formatterDashboard.format(element.debt)%></td>
                                    <td class = "green-text text-darken-1"><%= formatterDashboard.format(element.income)%>&#9650;</td>
                                    <td class = "red-text text-darken-1"><%= formatterDashboard.format(element.expense-investment)%>&#x25bc;</td>
                                    <td><%=formatterDashboard.format(investment)%></td>
                                    <td><%= formatterDashboard.format(element.currbal)%></td>
                                    <td><%= formatterDashboard.format(element.transum)%></td>
                                    <td><%= formatterDashboard.format(element.onhold)%></td>
                                    <% variance = element.currbal-(element.transum+element.onhold)
                                      if (variance < 0 && variance > -0.01)
                                      {
                                        variance *= -1.00
                                      }
                                    %>
                                    <td><%= formatterDashboard.format(variance)%></td>
                                    
                                   
                                    
                                  </tr>
                        </tbody>
                      </table>
               
            </div>
             
  
                
                 
              
               
              
              
          <div class="container">
            <div class="row">
              <div class="col s6">
                <table class="striped centered responsive-table">
                  <thead>
                            <tr>
                                <th><%=monthCart[month]%>
                      <hr>
                      </th>                    
                            </tr>
                          </thead>
                          <tbody>
                <table class="striped centered responsive-table" style="margin-top:-30px">      
                          <thead>
                            <tr>
                              <th class = "monthlyincome"><span>Income</span></th>
                              <th class = "monthlyexpense"><span>Expense</span></th>
                              <th class = "monthlyinvested"><span>Invested</span></th>
                              <th class = "monthlybalance"><span>Savings</span></th>
                            </tr>
                          </thead>
                          <tbody>
    
                                    
                            <tr style="font-weight:500;">
                              
                              <td class = "green-text text-darken-1"><%= formatter.format(monthlyIncome)%>&#9650;</td>
                              <td class = "red-text text-darken-1"><%= formatter.format((monthlyExpense == 0)?monthlyExpense:monthlyExpense*-1)%>&#x25bc;</td>
                              <td><%= formatter.format(monthlyInvested)%></td>
                              <td><%= formatter.format(monthlyIncome+monthlyExpense>0?monthlyIncome+monthlyExpense-monthlyInvested:0.00)%></td>
                             
                              
                            </tr>
                          </tbody>
                        </table>
                      </tbody>
                      </table>
              </div>
              <div class="col s6">
                <table class="striped centered responsive-table">
                  <thead>
                            <tr>
                                <th><%=year%>
                      <hr>
                      </th>                    
                            </tr>
                          </thead>
                          <tbody>
                <table class="striped centered responsive-table" style="margin-top:-30px">      
                          <thead>
                            <tr>
                              <th class = "yearlyincome"><span>Income</span></th>
                              <th class = "yearlyexpense"><span>Expense</span></th>
                              <th class = "yearlyinvested"><span>Invested</span></th>
                              <th class = "yearlybalance"><span>Savings</span></th>
                            </tr>
                          </thead>
                          <tbody>
    
                                    
                            <tr style="font-weight:500;">
                              
                              <td class = "green-text text-darken-1"><%= formatter.format(yearlyIncome)%>&#9650;</td>
                              <td class = "red-text text-darken-1"><%= formatter.format((yearlyExpense == 0)?yearlyExpense:yearlyExpense*-1)%>&#x25bc;</td>
                              <td><%= formatter.format(yearlyInvested)%></td>
                              <td><%= formatter.format(yearlyIncome+yearlyExpense>0?yearlyIncome+yearlyExpense-yearlyInvested:0.00)%></td>
                             
                              
                            </tr>
                          </tbody>
                        </table>
                      </tbody>
                      </table>
              </div>
            </div>
                 
              </div>

              <h4 class = "center">You are using this app since Fri 05 Feb, 2021</h4>
  
              <div class="container" style="font-weight: 500; font-size: large;">
                <div class="row">
                  <div class="col s4">
                    <div class="card-panel white">
                      <span class="black-text">The biggest amount you have earned so far in your lifetime is <%=formatter.format(238308.85)%> on Fri 05 Feb, 2021 through the Savings.
                      </span>
                    </div>
                  </div>
                  <div class="col s4">
                    <div class="card-panel white">
                      <span class="black-text">The biggest amount you have exhausted so far in your lifetime is <%=formatter.format(6245)%> on Wed 24 Mar, 2021 on the Groceries.
                      </span>
                    </div>
                  </div>
                  <div class="col s4">
                    <div class="card-panel white">
                      <span class="black-text">The biggest investment you have made so far in your lifetime is <%=formatter.format(3184.1)%> for 2 shares of DEEPAKNTR on Wed 17 Mar, 2021.
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col s4">
                    <div class="card-panel white">
                      <span class="black-text">The biggest amount you have earned in 2021 is <%=formatter.format(238308.85)%> on Fri 05 Feb, 2021 through the Savings.
                      </span>
                    </div>
                  </div>
                  <div class="col s4">
                    <div class="card-panel white">
                      <span class="black-text">The biggest amount you have exhausted in 2021 is <%=formatter.format(6245)%> on Wed 24 Mar, 2021 on the Groceries.
                      </span>
                    </div>
                  </div>
                  <div class="col s4">
                    <div class="card-panel white">
                      <span class="black-text">The biggest investment you have made in 2021 is <%=formatter.format(3184.1)%> for 2 shares of DEEPAKNTR on Wed 17 Mar, 2021.
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col s4">
                    <div class="card-panel white">
                      <span class="black-text">The biggest amount you have earned in April 2021 is <%=formatter.format(1611)%> on Thu 01 Apr, 2021 through the Interest/Dividend.
                      </span>
                    </div>
                  </div>
                  <div class="col s4">
                    <div class="card-panel white">
                      <span class="black-text">The biggest amount you have exhausted in April 2021 is <%=formatter.format(2968)%> on Fri 02 Apr, 2021 on the Groceries.
                      </span>
                    </div>
                  </div>
                  <div class="col s4">
                    <div class="card-panel white">
                      <span class="black-text">The biggest investment you have made in April 2021 is <%=formatter.format(458.75)%> for 5 shares of ADANIPOWER on Fri 16 Apr, 2021.
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col s4">
                    <div class="card-panel white">
                      <span class="black-text">You have made 30.33 transactions per month in 2021, 2.33 to make money and 28 to deplete it.
                      </span>
                    </div>
                  </div>
                  <div class="col s4">
                    <div class="card-panel white">
                      <span class="black-text">You have made 91 transactions per year in your lifetime, 7 to make money and 84 to deplete it.
                      </span>
                    </div>
                  </div>
                  <div class="col s4">
                    <div class="card-panel white">
                      <span class="black-text">You have made a total of 91 transactions in your lifetime, 7 to make money and 84 to deplete it.
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col s4">
                    <div class="card-panel white">
                      <span class="black-text">You have earned <%=formatter.format(297267.1)%> per year in your lifetime.
                      </span>
                    </div>
                  </div>
                  <div class="col s4">
                    <div class="card-panel white">
                      <span class="black-text">You have exhausted <%=formatter.format(33139.72)%> per year in your lifetime.
                      </span>
                    </div>
                  </div>
                  <div class="col s4">
                    <div class="card-panel white">
                      <span class="black-text">You have invested <%=formatter.format(11405.22)%> per year in your lifetime.
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col s4">
                    <div class="card-panel white">
                      <span class="black-text">You have earned <%=formatter.format(99089.03)%> per month in 2021.
                      </span>
                    </div>
                  </div>
                  <div class="col s4">
                    <div class="card-panel white">
                      <span class="black-text">You have exhausted <%=formatter.format(11046.57)%> per month in 2021.
                      </span>
                    </div>
                  </div>
                  <div class="col s4">
                    <div class="card-panel white">
                      <span class="black-text">You have invested <%=formatter.format(3801.74)%> per month in 2021.
                      </span>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col s4">
                    <div class="card-panel white">
                      <span class="black-text">You have earned <%=formatter.format(53.7)%> per day in April 2021.
                      </span>
                    </div>
                  </div>
                  <div class="col s4">
                    <div class="card-panel white">
                      <span class="black-text">You have exhausted <%=formatter.format(125.6)%> per day in April 2021.
                      </span>
                    </div>
                  </div>
                  <div class="col s4">
                    <div class="card-panel white">
                      <span class="black-text">You have invested <%=formatter.format(17.93)%> per day in April 2021.
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              

              
              
              <div id = "chperiod" class="modal white">
                <h5 class="header center light-blue-text text-darken-4" style="font-family:Roboto;">Change Period</h5>
    <a class="modal-close waves-effect waves-grey btn-flat right" style="top: -45px;"><i class="material-icons">close</i></a>
    <div class="row">
      <form action="/account/stats?_method=PUT" method="POST">
        <div class="input-field">
          <input name = "id" type="hidden" class="validate" required="" aria-required="true" value = "<%=element._id %>">
        </div>
        <div class="input-field col s5 offset-s1 center">
          <select name = "month" class="browser-default" style="margin-top:7px;">
          <%for(i = 0;i < 12;i++){%>
          <option value="<%=i+1%>" <%= month == i?'selected':''%>><%=monthCart[i]%></option>
        <%}%>
        </select>
        </div>
        <%
        yearCart = []
      count = new Date().getUTCFullYear() - element.tcreate.getUTCFullYear()
      for(i = 0;i<=count;i++){
        yearCart.push(new Date().getUTCFullYear()-i)
      }
        %>
        
        <div class="input-field col s5 center">
          <select name = "year" class="browser-default" style="margin-top:7px;">
          <%yearCart.forEach(year => {%>
          <option value="<%=year%>"><%=year%> </option>
        <%})%>
        </select>
        </div>
        <div class="input-field col s6 offset-s3 left center" style="width: 50%;">
          <input class="btn light-blue darken-4 white-text" value="CHANGE" type="submit">
        </div>
        </form>
      </div>
    </div>            

    <%})%>