
<% account.forEach(element => { %>
  <%investment = 0
 element.activity.filter(entry => (((entry.isActive == true && entry.isexpense) && entry.category.includes('Investment')))).forEach(entry => {
 investment += parseFloat(entry.amount*-1.00)
 })%>
  <%
  transactionCount = 0
  monthlyIncome = 0
  monthlyExpense = 0
  monthlyInvested = 0
   element.activity.filter(entry => (entry.isActive == true && (month == entry.tstamp.getMonth() && year  == entry.tstamp.getFullYear()))).forEach(entry => {
     transactionCount += 1
     if(!entry.isexpense && (!entry.category.includes('Debit') && !entry.category.includes('Credit')))
     {
       monthlyIncome += entry.amount
     }
     else if(entry.isexpense && (!entry.category.includes('Debit') && !entry.category.includes('Investment') && !entry.category.includes('Credit'))){
       monthlyExpense += entry.amount
     }
     else if(entry.isexpense && (entry.category.includes('Investment'))){
       monthlyInvested += entry.amount*-1.00
     }
  })

  yearlyIncome = 0
  yearlyExpense = 0
  yearlyInvested = 0
  element.activity.filter(entry => ((entry.isActive == true && (!entry.category.includes('Debit','Credit'))) && (year == entry.tstamp.getFullYear()))).forEach(entry => {
     
    if(!entry.isexpense && (!entry.category.includes('Debit') && !entry.category.includes('Credit')))
     {
       yearlyIncome += entry.amount
     }
     else if(entry.isexpense && (!entry.category.includes('Debit') && !entry.category.includes('Investment') && !entry.category.includes('Credit'))){
       yearlyExpense += entry.amount
     }
     else if(entry.isexpense && (entry.category.includes('Investment'))){
       yearlyInvested += entry.amount*-1.00
     }
  })
  %>  

<style>
  .modal { overflow: visible; }
.modal-body { overflow-y: visible !important; }
.income:hover span {display:none}
.income:hover:before {content:"100%"}
.invested:hover span {display:none}
.invested:hover:before {content:"<%=((investment)*100/element.income).toFixed(2)%>%"}
.expense:hover span {display:none}
.expense:hover:before {content:"<%=((element.expense)*100/element.income).toFixed(2)%>%"}
.balance:hover span {display:none}
.balance:hover:before {content:"<%=(100 - element.expense*100/element.income).toFixed(2)%>%"}
.monthlyincome:hover span {display:none}
.monthlyincome:hover:before {content:"100%"}
.monthlyinvested:hover span {display:none}
.monthlyinvested:hover:before {content:"<%=((monthlyIncome+monthlyExpense<=0)  && (monthlyIncome == 0)?0.00:(monthlyInvested)*100/monthlyIncome).toFixed(2)%>%"}
.monthlyexpense:hover span {display:none}
.monthlyexpense:hover:before {content:"<%=((monthlyIncome+monthlyExpense<=0.00) && (monthlyIncome == 0)?0.00:(monthlyExpense*-100/monthlyIncome)).toFixed(2)%>%"}
.monthlybalance:hover span {display:none}
.monthlybalance:hover:before {content:"<%=(monthlyIncome+monthlyExpense<=0.00?0.00:(100 - (monthlyExpense-monthlyInvested)*-100/monthlyIncome)).toFixed(2)%>%"}
.yearlyincome:hover span {display:none}
.yearlyincome:hover:before {content:"100%"}
.yearlyinvested:hover span {display:none}
.yearlyinvested:hover:before {content:"<%=((yearlyIncome+yearlyExpense) && (yearlyIncome == 0)<=0.00?0.00:(yearlyInvested)*100/yearlyIncome).toFixed(2)%>%"}
.yearlyexpense:hover span {display:none}
.yearlyexpense:hover:before {content:"<%=((yearlyIncome+yearlyExpense<=0.00) && (yearlyIncome == 0)?0.00:(yearlyExpense*-100/yearlyIncome)).toFixed(2)%>%"}
.yearlybalance:hover span {display:none}
.yearlybalance:hover:before {content:"<%=(yearlyIncome+yearlyExpense<=0.00?0.00:(100 - (yearlyExpense-yearlyInvested)*-100/yearlyIncome)).toFixed(2)%>%"}

</style>
 
  <%
  const monthCart = ["January","February","March","April","May","June","July","August","September","October","November","December"]
  const stockList = tickerStocks
  const stockValues = priceStocks
  %>
 <%
 const formatter = new Intl.NumberFormat('en-US', {
 style: 'currency',
 currency: element.currency,
 minimumFractionDigits: 2
 })
 const formatterDashboard = new Intl.NumberFormat('en-US', {
 style: 'currency',
 currency: element.currency,
 notation: "compact",
   compactDisplay: "short"
 })
 %>

  
<div class="fixed-action-btn">
  <%      
            link = '/'+year+'/'+parseFloat(month+1)
            if(month == (new Date().getMonth()) && year == (new Date().getFullYear())){
              link = ''
            }
      %>
  <a class="btn-floating btn-large light-blue darken-4 pulse">
    <i class="large material-icons">layers</i>
  </a>
  <ul>
    <li><a title="Logout" data-toggle="modal" href="#logout" class="btn-floating black modal-trigger"><i class="material-icons">logout</i></a></li>
    <!--<li><a title="Change Period" data-toggle="modal" href="#chperiod" class="btn-floating red modal-trigger"><i class="material-icons">today</i></a></li>-->
    <li><a title="Search" href="/account/<%=element._id%>/search" class="btn-floating teal modal-trigger"><i class="material-icons">search</i></a></li>    
    <li><a title="Pivot Tables"  href="/account/<%=element._id%>/pivots<%=link%>" class="btn-floating pink accent-3 modal-trigger"><i class="material-icons">pivot_table_chart</i></a></li>
    <li><a title="Statistics"  href="/account/<%=element._id%>/stats<%=link%>" class="btn-floating blue-grey modal-trigger"><i class="material-icons">functions</i></a></li>
    <li><a title="Asset Management"  href="/account/<%=element._id%>/assets" class="btn-floating orange modal-trigger"><i class="material-icons">account_balance</i></a></li>    
  </ul>
</div>

<div class="section white" >
<div class="row" style="margin-bottom: -10px;">
  <div class="col s1 left">
    <%
        link = element._id
        if(month != new Date().getMonth())
        {
          link = '../../'+element._id+'/'+year+'/'+parseFloat(month+1)
        }
    %>
    <a title = "Home" class="btn-floating btn-medium waves-effect waves-light blue darken-4" href="../../<%=link%>"><i class="material-icons">roofing</i></a>
  </div>
<div class="col s11">
        <h2 class="header center blue-text text-darken-4" style="font-family:Roboto; margin-bottom: -10px; margin-top: 0px; margin-right: 120px;">Charts for <%=element.name%></h2>
  </div>
        
  </div>
  
    
    
  
</div>
<div class="container">
  <% 
              assetsWorth = 0
              element.asset.filter(entry => entry.isActive == true).forEach(entry => {
                if(entry.category == "Gold"){
                  assetPrice = priceGold*entry.units                  
                }
                else if(entry.category == "Silver"){
                  assetPrice = priceSilver*entry.units
                }
                else if(entry.category == "Equity"){
                  position = stockList.indexOf(entry.description)
                  assetPrice = stockValues[position]*entry.units
                }
                else if(entry.category == "Extra Charge"){
                  assetPrice = 0
                }
                else{
                  assetPrice = entry.tape*entry.units
                }
                assetsWorth += assetPrice
              })%>
  <div class="row">
    <div class="col s6" style="margin-bottom: -15px;">
      <div class="progress green lighten-4 tooltipped" data-position="left" data-tooltip="<%=((element.transum+element.onhold+assetsWorth-element.debt)/element.dnw*100).toFixed(2)%>% Goal Completed<br><%= formatterDashboard.format(element.transum+element.onhold+assetsWorth-element.debt)%> of <%=formatterDashboard.format(element.dnw)%>">
        <div class="determinate green darken-4" style=<%="width:"+(element.transum+element.onhold+assetsWorth-element.debt)/element.dnw*100+"%"%>></div>
    </div>
      </div>
      <div class="col s6" style="margin-bottom: -15px;">
        <%
          tday = new Date()
          bday = element.dob
          diff = Math.abs(tday - bday)
          diff = Math.ceil(diff / (1000 * 60 * 60 * 24)); 
          years = diff/365.25
          rdiff = element.aor*365.25
          percgoal = diff*100/rdiff
        %>
        <div class="progress red lighten-4 tooltipped" data-position="right" data-tooltip="<%=percgoal.toFixed(2)%>% Time Finished<br><%=years.toFixed(2)%> of <%=element.aor%> Years">
          <div class="determinate red darken-4" style=<%="width:"+ percgoal +"%"%>></div>
      </div>
        </div>
    </div>
                    <table class="striped centered responsive-table"style="margin-top:-30px">      
                        <thead>
                          <tr>
                            <th>Networth</th>
                            <th>Debt</th>
                            <th class = "income"><span>Income</span></th>
                            <th class = "expense"><span>Expense</span></th>
                              <th class = "invested"><span>Invested</span></th>
                              <th class = "balance"><span>Balance</span></th>
                              <th>Transactions</th>
                              <!--<th>On Hold</th>-->
                              <th>Variance</th>
                              
                          </tr>
                        </thead>
                        <tbody>
                          
                                  
                          <tr style="font-weight:500;">
                            <td class="tooltipped" data-position="bottom" data-tooltip="<%=formatter.format(element.transum+element.onhold+assetsWorth-element.debt)%>"><%= formatterDashboard.format(element.transum+element.onhold+assetsWorth-element.debt)%></td>
                            <td data-position="bottom" data-tooltip="<%=formatter.format(element.debt)%>" class="tooltipped" ><%= formatterDashboard.format(element.debt)%></td>
                            <td data-position="bottom" data-tooltip="<%=formatter.format(element.income)%>" class = "tooltipped green-text text-darken-1"><%= formatterDashboard.format(element.income)%>&#9650;</td>
                            <td data-position="bottom" data-tooltip="<%=formatter.format(element.expense)%>" class = "tooltipped red-text text-darken-1"><%= formatterDashboard.format(element.expense)%>&#x25bc;</td>
                            <td data-position="bottom" data-tooltip="<%=formatter.format(investment)%>" class="tooltipped" ><%=formatterDashboard.format(investment)%></td>
                            <td data-position="bottom" data-tooltip="<%=formatter.format(element.currbal)%>" class="tooltipped" ><%= formatterDashboard.format(element.currbal)%></td>
                            <td data-position="bottom" data-tooltip="<%=formatter.format(element.transum)%>" class="tooltipped" ><%= formatterDashboard.format(element.transum)%></td>
                            <!--<td data-position="bottom" data-tooltip="<%=formatter.format(element.onhold)%>" class="tooltipped" ><%= formatterDashboard.format(element.onhold)%></td>-->
                            <% variance = element.currbal-(element.transum+element.onhold)
                              if (variance < 0 && variance > -0.01)
                              {
                                variance *= -1.00
                              }
                            %>
                            <td data-position="bottom" data-tooltip="<%=formatter.format(variance)%>" class="tooltipped" ><%= formatterDashboard.format(variance)%></td>
                            
                           
                            
                          </tr>
                        </tbody>
                      </table>
               
            </div>
           

              
              
            
        <div class="container">
          <div class="row">
            <div class="col s6">
              <table class="striped centered responsive-table">
                <thead>
                          <tr>
                              <th><%=monthCart[month]%>
                    <hr>
                    </th>                    
                          </tr>
                        </thead>
                        <tbody>
              <table class="striped centered responsive-table" style="margin-top:-30px">      
                        <thead>
                          <tr>
                            <th class = "monthlyincome"><span>Credit</span></th>
                            <th class = "monthlyexpense"><span>Debit</span></th>
                            <th class = "monthlyinvested"><span>Invested</span></th>
                            <th class = "monthlybalance"><span>Balance</span></th>
                          </tr>
                        </thead>
                        <tbody>
  
                                  
                          <tr style="font-weight:500;">
                            
                            <td class = "green-text text-darken-1"><%= formatter.format(monthlyIncome)%>&#9650;</td>
                            <td class = "red-text text-darken-1"><%= formatter.format((monthlyExpense == 0)?monthlyExpense:monthlyExpense*-1)%>&#x25bc;</td>
                            <td><%= formatter.format(monthlyInvested)%></td>
                            <td><%= formatter.format(monthlyIncome+monthlyExpense>0?monthlyIncome+monthlyExpense-monthlyInvested:0.00)%></td>
                           
                            
                          </tr>
                        </tbody>
                      </table>
                    </tbody>
                    </table>
            </div>
            <div class="col s6">
              <table class="striped centered responsive-table">
                <thead>
                          <tr>
                              <th><%=year%>
                    <hr>
                    </th>                    
                          </tr>
                        </thead>
                        <tbody>
              <table class="striped centered responsive-table" style="margin-top:-30px">      
                        <thead>
                          <tr>
                            <th class = "yearlyincome"><span>Credit</span></th>
                              <th class = "yearlyexpense"><span>Debit</span></th>
                              <th class = "yearlyinvested"><span>Invested</span></th>
                              <th class = "yearlybalance"><span>Balance</span></th>
                          </tr>
                        </thead>
                        <tbody>
  
                                  
                          <tr style="font-weight:500;">
                            
                            <td class = "green-text text-darken-1"><%= formatter.format(yearlyIncome)%>&#9650;</td>
                            <td class = "red-text text-darken-1"><%= formatter.format((yearlyExpense == 0)?yearlyExpense:yearlyExpense*-1)%>&#x25bc;</td>
                            <td><%= formatter.format(yearlyInvested)%></td>
                            <td><%= formatter.format(yearlyIncome+yearlyExpense>0?yearlyIncome+yearlyExpense-yearlyInvested:0.00)%></td>
                           
                            
                          </tr>
                        </tbody>
                      </table>
                    </tbody>
                    </table>
            </div>
          </div>
               
            </div>
            <div id = "logout" class="modal white bottom-sheet">
              <h5 class="header center light-blue-text text-darken-4" style="font-family:Roboto;">Do you want to log out of the App?</h5>
              <a class="modal-close waves-effect waves-grey btn-flat right" style="top: -45px;"><i class="material-icons">close</i></a>
              <div class="row">
                <form action="/account?_method=PUT" method="POST">
                  <div class="input-field">
                    <input name = "action" type="hidden" placeholder = "Account Name" class="validate" required="" aria-required="true" value = "logout">
                  </div>
                  <div class="input-field col s6 offset-s3 left center" style="width: 50%;">
                    <input class="btn light-blue darken-4 white-text" value="Yes" type="submit">
                    <a class="modal-close btn light-blue darken-4 white-text">No</a>
                  </div>
                  </form>
                </div>
                <h6 id="warning" style="font-family:Roboto;" class="center red-text"></h6>
                  <!--<script>
                    if((window.fullScreen) ||
               (window.innerWidth == screen.width && window.innerHeight == screen.height)) {
                 console.log("FullScreen");
            }else{
              document.getElementById('warning').innerHTML = "Warning<br>Pressing YES Will Close All The Tabs!<br>Close The Current Tab Instead By Pressing CTRL+W";
            }
                  </script>-->
            </div>
                
            
            <div id = "chperiod" class="modal white">
              <h5 class="header center light-blue-text text-darken-4" style="font-family:Roboto;">Change Period</h5>
  <a class="modal-close waves-effect waves-grey btn-flat right" style="top: -45px;"><i class="material-icons">close</i></a>
  <div class="row">
    <form action="/account/chart?_method=PUT" method="POST">
      <div class="input-field">
        <input name = "id" type="hidden" class="validate" required="" aria-required="true" value = "<%=element._id %>">
      </div>
      <div class="input-field col s5 offset-s1 center">
        <select name = "month" class="browser-default" style="margin-top:7px;">
        <%for(i = 0;i < 12;i++){%>
        <option value="<%=i+1%>" <%= month == i?'selected':''%>><%=monthCart[i]%></option>
      <%}%>
      </select>
      </div>
      <%
      yearCart = []
    count = new Date().getFullYear() - element.tcreate.getFullYear()
    for(i = 0;i<=count;i++){
      yearCart.push(new Date().getFullYear()-i)
    }
      %>
      
      <div class="input-field col s5 center">
        <select name = "year" class="browser-default" style="margin-top:7px;">
        <%yearCart.forEach(year => {%>
        <option value="<%=year%>"><%=year%> </option>
      <%})%>
      </select>
      </div>
      <div class="input-field col s6 offset-s3 left center" style="width: 50%;">
        <input class="btn light-blue darken-4 white-text" value="CHANGE" type="submit">
      </div>
      </form>
    </div>

  </div>   
  <div class="container" style="width: 100%;">
    <div class="row">
     <div class="col s3">
      <ul class="collapsible">
        <li>
          <div class="collapsible-header" style="font-size:larger;"><i class="large material-icons">currency_exchange</i><b>Cashflow</b></div>
          <div class="collapsible-body" style="font-size: large; text-align: center;">
            <ul>
              <li>
                <a href="..\chart"><b>Cashflow (Comparison)</b></a>
              </li>
              <li>
                <a href="..\chart\cfyr"><b>Cashflow (<%=year%>)</b></a>
              </li>
              <li>
                <a href="..\chart\cflt"><b>Cashflow (LifeTime)</b></a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div class="collapsible-header" style="font-size:larger;"><i class="large material-icons">redeem</i><b>Income</b></div>
          <div class="collapsible-body" style="font-size: large; text-align: center;">
            <ul>
              <li>
                <a href="..\chart\inmo"><b>Income (<%=monthCart[month]%>)</b></a>
              </li>
              <li>
                <a href="..\chart\inyr"><b>Income (<%=year%>)</b></a>
              </li>
              <li>
                <a href="..\chart\inlt"><b>Income (LifeTime)</b></a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div class="collapsible-header" style="font-size:larger;"><i class="large material-icons">shopping_cart</i><b>Expense</b></div>
          <div class="collapsible-body" style="font-size: large; text-align: center;">
            <ul>
              <li>
                <a href="..\chart\exmo"><b>Expense (<%=monthCart[month]%>)</b></a>
              </li>
              <li>
                <a href="..\chart\exyr"><b>Expense (<%=year%>)</b></a>
              </li>
              <li>
                <a href="..\chart\exlt"><b>Expense (LifeTime)</b></a>
              </li>
            </ul>
          </div>
        </li>
        <li class="active">
          <div class="collapsible-header" style="font-size:larger;"><i class="large material-icons">account_balance_wallet</i><b>Balance</b></div>
          <div class="collapsible-body" style="font-size: large; text-align: center;">
            <ul>
              <li>
                <a href="..\chart\balmo" ><b>Balance (<%=monthCart[month]%>)</b></a>
              </li>
              <li>
                <a style="color:blueviolet;"><b>Balance (<%=year%>)</b></a>
              </li>
              <li>
                <a  href="..\chart\ballt"><b>Balance (LifeTime)</b></a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div class="collapsible-header" style="font-size:larger;"><i class="large material-icons">developer_board</i><b>Assets</b></div>
          <div class="collapsible-body" style="font-size: large; text-align: center;">
            <ul>
              <li>
                <a href="..\chart\asct"><b>Asset Cart</b></a>
              </li>
              <li>
                <a href="..\chart\invrt"><b>Inv-Ret Compare</b></a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <div class="collapsible-header" style="font-size:larger;"><i class="large material-icons">swap_horiz</i><b>Transactions</b></div>
          <div class="collapsible-body" style="font-size: large; text-align: center;">
            <ul>
              <li>
                <a href="..\chart\catmo"><b>Categorywise (<%=monthCart[month]%>)</b></a>
              </li>
              <li>
                <a href="..\chart\catyr"><b>Categorywise (<%=year%>)</b></a>
              </li>
              <li>
                <a href="..\chart\catlt"><b>Categorywise (LifeTime)</b></a>
              </li>
              <li>
                <a href="..\chart\peryr"><b>Periodwise (<%=year%>)</b></a>
              </li>
              <li>
                <a href="..\chart\perlt"><b>Periodwise (LifeTime)</b></a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
     </div>
     <div class="col s9">
      <h5 class="header center blue-text text-darken-4" style="font-family:Roboto;">Balance (<%=year%>)</h5>
  <hr width="85%">
    <canvas id="balcych"></canvas>
     </div>
    </div>
  </div> 

  <script type = "text/javascript">
    var ctx = document.getElementById('balcych').getContext('2d');
    balance = []
    actualBalance = []
    points = []
    amounts = []
    counter = 1
    onholdBalance = []
    moneyOnHold = [0]
    trend = []
      
    "<%element.activity.filter(entry => (entry.isActive == true && year == entry.tstamp.getFullYear())).forEach(entry => {%>"
    if("<%=year%>" == "<%=entry.tstamp.getFullYear()%>"){
    balance.push("<%=entry.postranbal%>")
    amounts.push("<%=entry.amount%>")
    tlast = "<%=entry.postranbal%>"
    }
    if("<%=entry.category%>" == 'Debit')
    {
      li = moneyOnHold.length-1
      value = moneyOnHold[li]
      moneyOnHold.push(value+parseFloat("<%=entry.amount*-1.00%>"))
    }
    if("<%=entry.category%>" == 'Credit')
    {
      li = moneyOnHold.length-1
      value = moneyOnHold[li]
      moneyOnHold.push(value-parseFloat("<%=entry.amount%>"))
    }
    lo = moneyOnHold.length-1
    if("<%=year%>" == "<%=entry.tstamp.getFullYear()%>"){
    actualBalance.push(parseFloat("<%=entry.postranbal%>")-moneyOnHold[lo])
    onholdBalance.push(moneyOnHold[lo])
    points.push(counter)
    counter++;
    }
    "<%})%>"
    tinit = parseFloat(balance[0])
      tlast = parseFloat(tlast)
      step = (tlast-tinit)/(balance.length-1)
      step = parseFloat(step.toFixed(2))
      //step = (355000-300000)/(11-1)
      if(tlast > tinit){
        trendColor = "#43a047"
        for(i = tinit;i<=tlast;i=i+step){
        trend.push(i) 
      }
      }
      else{
        trendColor = "#e53935"
        for(i = tinit;i>=tlast;i=i+step){
        trend.push(i) 
      } 
      }
      
      
var chart = new Chart(ctx, {
type: 'line',
data: {
    labels: points,
    datasets: [{
        label: 'Balance',
        borderColor: '#000000',
        //lineTension:0,
        fill:false,
        radius:0,
        data: balance,
    },
    /*{
        label: 'Actual Balance',
        borderColor: '#0d47a1',
        //lineTension:0,
        fill:false,
        radius:0,
        data: actualBalance,
        hidden: true
    },
    {
        label: 'On Hold',
        borderColor: '#ff5722',
        //lineTension:0,
        fill:false,
        radius:0,
        data: onholdBalance,
        hidden: true
    },*/
    {
        label: 'Amount',
        borderColor: '#009688',
        //lineTension:0,
        fill:false,
        radius:0,
        data: amounts,
        
    },
      {
          label: 'Trend',
          borderColor: trendColor,
          //lineTension:0,
          fill:false,
          radius:0,
          data: trend,
          
      }
  ]
},
options: {
  responsive: true,
				tooltips: {
					mode: 'index',
					intersect: false,
				},
				hover: {
					mode: 'nearest',
					intersect: true
				},
  scales:{
    yAxes:[{
      scaleLabel: {
        display: true,
        labelString: 'Amount'
      }
    }],
    xAxes:[{
      scaleLabel: {
        display: true,
        labelString: 'Transaction Count'
      }
    }]
  }
}
});
    </script>
    <%})%>
  
